[2020-09-27 19:57] devmount opened #1 "Add translation: Italian"
**Provide the name and the two-letter code of the new language**
Italian, `it`

**Steps to add the translation**
- Add a folder `public/_locales/it/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-27 19:58] devmount opened #2 "Add translation: Spanish"
**Provide the name and the two-letter code of the new language**
Spanish, `es`

**Steps to add the translation**
- Add a folder `public/_locales/es/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-27 20:00] devmount opened #3 "Add translation: French"
**Provide the name and the two-letter code of the new language**
French, `fr`

**Steps to add the translation**
- Add a folder `public/_locales/fr/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-28 03:31] roninJosue commented on #2
Hello!! I'd like to do this issue.

[2020-09-28 06:10] feyre-2001 commented on #3
Would love to work on this issue!

[2020-09-28 07:08] feyre-2001 commented on #3
Thanks for assigning! Would get it done in a week or less :)

[2020-09-28 07:10] devmount commented on #3
Thanks for contributing! And no rush - take your time 😎

[2020-09-28 07:25] devmount opened #4 "Add translation: Chinese"
**Provide the name and the two-letter code of the new language**
Chinese, `zh`

**Steps to add the translation**
- Add a folder `public/_locales/zh/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-28 07:25] devmount opened #5 "Add translation: Hindi"
**Provide the name and the two-letter code of the new language**
Hindi, `hi`

**Steps to add the translation**
- Add a folder `public/_locales/hi/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-28 07:27] devmount opened #6 "Add translation: Portuguese"
**Provide the name and the two-letter code of the new language**
Portuguese, `pt`

**Steps to add the translation**
- Add a folder `public/_locales/pt/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-28 07:28] devmount opened #7 "Add translation: Russian"
**Provide the name and the two-letter code of the new language**
Russian, `ru`

**Steps to add the translation**
- Add a folder `public/_locales/ru/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-28 07:50] mdfaizan7 commented on #5
I can handle this issue. Could you assign this to me?

[2020-09-28 09:00] Manoj13-coder commented on #4
i like to contribute assign it to me

[2020-09-28 09:01] Manoj13-coder commented on #7
assign it to me

[2020-09-28 09:01] Manoj13-coder commented on #6
Assign it to me

[2020-09-28 09:02] Manoj13-coder commented on #1
assign it to me

[2020-09-28 09:07] devmount commented on #4
Hi @Manoj13-coder,
at first: Thank you for your interest and that you'd like to contribute to this project. I've seen you also applied to Russian, Portuguese and Italian. Can you somehow prove that you fluently speak all these languages? No offense, but I'd rather assign native speakers here. Thanks for your understanding.

[2020-09-28 09:11] Manoj13-coder commented on #4
assign it to me i will do it

On Mon, 28 Sep 2020, 14:37 Andreas, <notifications@github.com> wrote:

[2020-09-28 13:47] devmount opened #8 "Enhance view for ultra-wide screens"
**Is your feature request related to a problem? Please describe.**
There would be enough space on ultra-wide screens to show all charts, but currently you have to scroll down to see all stats.

**Describe the solution you'd like**
Utilize all available space, especially the horizontal space on ultra-wide screens. The current max container width is 1200px. Implement an addition breakpoint at e.g. 1

[2020-09-29 08:51] devmount opened #9 "Proper responsive behaviour for charts on small viewports"
**Describe the bug**
When making Thunderbird very small, a horizontal scrollbar appears and the two-column chart layout doesn't break into a one-column layout.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Thunderbird
2. Open ThirdStats
3. Make the window small
4. See the above behaviour

**Expected behavior**
There should be breaking points (e.g. for 960px or 640px) where the chart l

[2020-09-29 08:54] devmount opened #10 "Proper responsive behaviour for featured numbers on small viewports"
**Describe the bug**
When making Thunderbird very small, a horizontal scrollbar appears and the featured numbers section doesn't break into a two-row layout. Also the descriptions text breaks into multiple lines.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Thunderbird
2. Open ThirdStats
3. Make the window small
4. See the above behaviour

**Expected behavior**
There should be breaki

[2020-09-29 09:29] devmount opened #11 "Additional Bar Chart: Emails per Month of Year"
**Is your feature request related to a problem? Please describe.**
No problem. Just completing the already existing analytics.

**Describe the solution you'd like**
A bar chart showing the number of emails that occurred in that month, showing a possible dependency of emails on seasons of the year.

**Describe alternatives you've considered**
A possible alternative is just showing email count per q

[2020-09-29 09:37] devmount opened #12 "Additional Heat Map: Last year"
**Is your feature request related to a problem? Please describe.**
No problem. Just completing the already existing analytics.

**Describe the solution you'd like**
A heat map showing the number of emails for the last year per day (meaning the previous 365 days from today), similar to the contributions heat map of GitHub. Vertical axis is the day of week (7 values), horizontal axis is the week num

[2020-09-29 14:54] devmount opened #13 "Expand account list for local accounts"
**Is your feature request related to a problem? Please describe.**
An (he calls himself) old school user is using local accounts for their emails, which aren't listed in the accounts list of ThirdStats.

**Describe the solution you'd like**
Include local accounts as well.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-09-29 20:07] devmount opened #14 "Add translation: Czech"
**Provide the name and the two-letter code of the new language**
Czech, `cs`

**Steps to add the translation**
- Add a folder `public/_locales/cs/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-29 20:08] devmount opened #15 "Add translation: Thai"
**Provide the name and the two-letter code of the new language**
Thai, `th`

**Steps to add the translation**
- Add a folder `public/_locales/th/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-29 20:29] maria-muravyova commented on #7
I am native Russian speaker and would like to take this issue.

[2020-09-29 20:29] di3goCS commented on #6
You can assign pt-br for me?

[2020-09-29 21:27] ajyan commented on #14
Hi, even if I'm not a native Czech speaker, would you be comfortable with me going to a translator and converting the `messages.json` file to Czech?

[2020-09-29 22:31] di3goCS commented on #6
Thanks! I'll finish soon :)

[2020-09-30 02:32] devmount commented on #14
Hi Andrew, thank you for your contribution! By *translator*, do you mean a human or a machine? I actually prefer native speakers so I will wait a bit more too see whether a native will sign up for it. If not, I'll come back to your offer.

[2020-09-30 09:14] ryanleesipes opened #17 "Most Contacted (Incoming and Outgoing)"
The existing metrics don't give me as much insight into who I am contacting and who is contacting me. Additional graphs along these lines would be very interesting.

I would like to see a leaderboard style list of people I send email to and who sends email to me. It may be useful for identifying how your time is spent in your inbox and may allow for the user to change their behavior if, say, they

[2020-09-30 10:17] devmount commented on #17
I love that idea! Thank you for explaining the benefits of this additional metric. What do you suggest as visualization? My first idea was a set of two horizontal bar charts showing the top ten contacts given the number of emails received from / sent to.

[2020-09-30 10:30] ryanleesipes opened #19 "Chart Generation Taking a Long Time (or not happening at all)"
**Describe the bug**
Generating charts for my inbox seem to take a very long time (I have yet to see the charts actually display). Have waited for charts to appear, assuming it is because of my large inbox. But have waited for likely an hour with the tab open at this point and still no charts. The spinner is spinning so I assume something is happening, but I'm not sure if I should continue to wait

[2020-09-30 10:32] ryanleesipes commented on #17
That's exactly how I visualize it too. Could even have toggle-able sheer number of emails over a certain amount of time versus percentage of overall inbox.

[2020-09-30 10:53] feyre-2001 commented on #15
Would love to work on this issue! :)

[2020-09-30 11:50] devmount commented on #19
This definitely is a bug. I have an inbox with ~30k emails which takes 13s to generate the charts. This is still quite long, so performance should definitely be improved, but never finishing chart generation is a bug.

Do you have multiple email accounts? Does the popup loading spinner finish (before clicking your account and opening the stats page)?

![image](https://user-images.githubusercontent

[2020-09-30 12:04] ryanleesipes commented on #19
Just one account.

The spinner does not seem to stop if I let it sit before opening the page (in the pop over menu).

[2020-09-30 12:15] devmount commented on #19
Ok, thank you for your feedback! I'll try to reproduce this and come back as soon as I have a solution.

[2020-09-30 12:23] devmount opened #20 "Add translation: Dutch"
**Provide the name and the two-letter code of the new language**
Dutch, `nl`

**Steps to add the translation**
- Add a folder `public/_locales/nl/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-30 12:24] devmount opened #21 "Add translation: Polish"
**Provide the name and the two-letter code of the new language**
Polish, `pl`

**Steps to add the translation**
- Add a folder `public/_locales/pl/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-30 12:25] devmount opened #22 "Add translation: Japanese"
**Provide the name and the two-letter code of the new language**
Japanese, `ja`

**Steps to add the translation**
- Add a folder `public/_locales/ja/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-09-30 12:47] #14 closed

[2020-09-30 13:03] Rookie3109 commented on #20
Hey could you assign this to me? I'd love to work on this for hacktoberfest :)

[2020-09-30 13:26] #3 closed

[2020-09-30 15:21] altmas5 opened #23 "Add translation: Catalan"
**Provide the name and the two-letter code of the new language**
Catalan, `ca`

**Steps to add the translation**
- Add a folder named like the two-letter code of the language you want to add under `public/_locales/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

I can add this t

[2020-09-30 16:06] ryanleesipes commented on #19
I can look at the console or anywhere you think there might be useful information.

[2020-09-30 20:46] #15 closed

[2020-09-30 20:49] #7 closed

[2020-09-30 20:52] devmount commented on #23
Awesome, thank you for this suggestion! I assigned this issue to you.

[2020-09-30 21:45] marcelstoer commented on #22
I'll do it.

[2020-10-01 00:12] ianzucker1 commented on #12
I would like to complement this by asking if it were possible to have 'Sunday' at the beginning of the week? Appreciating that this is not necessarily the standard for everyone, across the world.

[2020-10-01 00:13] ianzucker1 commented on #11
Indeed, could this be filtered through a pull down menu or inclusion / exclusion (e.g. February, March, June and July).

[2020-10-01 06:39] #13 closed

[2020-10-01 06:43] #2 closed

[2020-10-01 06:47] #6 closed

[2020-10-01 06:54] devmount commented on #12
@ianzucker1 Good point. This also relates to the existing heatmaps (temporal distributions), currently starting on monday. Please open [a feature request](https://github.com/devmount/third-stats/issues/new?template=feature_request.md) for this and we'll see how we can make this possible (I think we need some kinde of general add-on options here).

[2020-10-01 08:16] kerlon5 commented on #11
Hello. I'm working on this issue. Solution based on monthsChartData function.  What is your vision for chart title and description, it's positioning among other charts? 'Months' and 'Total number of emails per month' fits well but used in another chart. Also, it would be nice to have translations for arrays of labels used in functions (like ['Jan', 'Feb'...).

[2020-10-01 08:32] devmount commented on #11
Awesome and thanks in advance 👏🏻!
Yes, 'Months' and 'Total number of emails per month' actually fits better than for the existing chart. Please reuse this title and description and I will rename the other ones with a more fitting title/description.
Please position it in a new row after the last charts, there will be some layout improvement soon where the charts get repositioned.
Very good point -

[2020-10-01 08:35] #1 closed

[2020-10-01 08:38] kerlon5 commented on #11
![image](https://user-images.githubusercontent.com/26476861/94786066-ee95f380-03e9-11eb-8199-0e6d82be1ec2.png)
Screenshot for layout improvement. Now heatmap in one line with bar chart looks like on image (2). Does it look good? On image (1) caption and rows wrapped in additional divs with  flex-direction: column; justify-content: space-between;

[2020-10-01 08:42] devmount commented on #11
Thank you for this suggestion, for the scope of this issue, please just position the new chart in a new row after the last charts. Layout improvement will be discussed in another issue.

[2020-10-01 08:52] devmount commented on #19
I set up a virtual environment with elementaryOS 5.1.7 and Thunderbird Version 78.3.1 (64-bit) and wasn't able to reproduce your issue. So I assume it must be something with your emails or folder structure.

Can you please do the following:

- open the console (add-ons > gear > debug add-ons > scroll to ThirdStats > Inspect)
- clear console (small trash icon on the upper left)
- open (or right cli

[2020-10-01 10:35] #5 closed

[2020-10-01 12:27] #11 closed

[2020-10-01 18:43] wikiyu commented on #21
Hey @devmount I`m trying to translate this awesome plugin but i have a problem with plurals.
I`ll do everything i can, but please check out a problem with pl_PL plurals (and other issues with other languages) like in https://stackoverflow.com/questions/12121515/multiple-plural-forms-in-gettext
If you want in future go into other method of translate plurals, please mention me, ill make it one more

[2020-10-01 19:42] #9 closed

[2020-10-01 20:14] #10 closed

[2020-10-01 20:16] devmount commented on #8
This was also solved by https://github.com/devmount/third-stats/pull/37

[2020-10-01 20:16] #8 closed

[2020-10-02 07:09] #23 closed

[2020-10-02 07:26] devmount commented on #21
Hi @wikiyu, many thanks for your contribution and pointing out the plural problem! I didn't know about that! Can you please issue [a bug report](https://github.com/devmount/third-stats/issues/new?template=bug_report.md) for the plural problem, as this includes other languages as well? We can discuss ideas and possible solutions for this problem there. This issue here will be closed with your PR. T

[2020-10-02 07:29] #21 closed

[2020-10-02 14:41] devmount opened #39 "Loading animations for charts"
**Is your feature request related to a problem? Please describe.**
Especially on large inboxes with a lot of emails the stats creation can take a lot of time. It's confusing, when the chart labes/axes are already visible, but not the data.

**Describe the solution you'd like**
I suggest to add some loading animation/indicator for the chart area.

**Describe alternatives you've considered**
- only

[2020-10-02 14:48] devmount opened #40 "Porperly handle empty accounts"
**Describe the bug**
If a Thunderbird account (for some reason) doesn't have any emails at all, there should be an indication for "empty account" instead of all charts showing no data.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an email account without any emails
2. Open the stats page
3. See empty charts

**Expected behavior**
No charts at all and a message saying something like "

[2020-10-02 15:39] wikiyu opened #41 "Translations - plural forms"
**Is your feature request related to a problem? Please describe.**

There is a lot of languages with more than two forms - singular and plural. For example in polish (and most of slavic languages) we have
1 comment - 1 komentarz
2 comments - 2 komentarze
5 comments - 5 komentarzy
here we have two different forms of plurals. But ... there is much more fun in this area.
https://doc.qt.io/archives/qq

[2020-10-02 15:56] devmount commented on #41
Thank you for this request. This add-ons internationalization is built on [vue-i18n](https://github.com/kazupon/vue-i18n), which has an option for custom pluralization:
https://kazupon.github.io/vue-i18n/guide/pluralization.html#custom-pluralization

So you just have to pass an optional `pluralizationRules` object into VueI18n constructor options.
@wikiyu Can you formulate these rules for Polish a

[2020-10-03 12:10] devmount commented on #40
Implemented with 958975e2da57da7951a142caee2dfc3211c94d00 and b35a58b3fe4ca5109a0b42e7b196ccd3ec99837b

![image](https://user-images.githubusercontent.com/5441654/94991243-128c3d00-0582-11eb-9a7f-9257ed625433.png)

[2020-10-03 12:10] #40 closed

[2020-10-03 12:42] #39 closed

[2020-10-04 12:17] devmount commented on #19
Plus:
I just release [v0.4.0](https://github.com/devmount/third-stats/releases/tag/v0.4.0) with improved loading indication (you shouldn't see empty charts anymore now). Maybe this changes anything for you, @ryanleesipes?

[2020-10-04 12:45] ryanleesipes commented on #19
Here is the screenshot you requested.

![Screenshot from 2020-10-04 15-43-36](https://user-images.githubusercontent.com/2141621/95015932-784af880-0658-11eb-84cc-806b3875fda8.png)

I do like the new indicator:
![Screenshot from 2020-10-04 15-44-34](https://user-images.githubusercontent.com/2141621/95015941-8e58b900-0658-11eb-814b-1cafaff01ed1.png)

[2020-10-04 20:23] devmount commented on #19
I created a possible fix. To test it, please do the following:

1. Clone this repo `git clone https://github.com/devmount/third-stats`
2. Change into the created directory `cd third-stats`
3. Switch branch `git checkout fix-infinite-loading`
4. Open Thunderbird > main menu > add-ons > gear menu > debug add-ons > load temporary add-on > choose the manifest file in the cloned repo's directory
5. Che

[2020-10-05 10:10] devmount opened #44 "Stats for single folders"
**Is your feature request related to a problem? Please describe.**
Currently accounts are analyzed as a whole, it's not possible to have an evaluation of single folders.

**Describe the solution you'd like**
An additional select field (which can live e.g. in a corresponding filter section) to select a specific folder for evaluation.

**Describe alternatives you've considered**
None

**Additional c

[2020-10-06 10:17] kerlon5 commented on #17
@devmount  please, assign it to me.
email address is stored as "John Doe <john@doe.com>". There is an issue with that if exists "John <john@doe.com>". Should we use only the email part for statistics? and what would be the label in this case?

[2020-10-06 10:24] devmount commented on #17
@kerlon5 Many thanks for your help! I've already implemented that feature and I'll soon push it to the master branch. I'm aware of the "John <john@doe.com>" problem and decided to only process plain email addresses. For that purpose I've written a function that converts "John <john@doe.com>" to "john@doe.com". Once published, it would be great if you could review and test that feature.

[2020-10-06 15:08] devmount commented on #17
For reference: This feature was now implented, will be included in the next release and looks like this (email addresses blurred):

![most_contacted](https://user-images.githubusercontent.com/5441654/95220164-76b73700-07f6-11eb-8254-4a5abe77881d.png)

[2020-10-06 16:06] kerlon5 opened #46 "global counters not centered on the ultrawide screen"
![image](https://user-images.githubusercontent.com/26476861/95227424-8b57f700-0817-11eb-80a6-562e6fcedd78.png)

- Windows 7
- Thunderbird Version 78.3.1 (64-bit)
- 2560x1080 resolution

[2020-10-06 20:55] #46 closed

[2020-10-06 20:56] devmount commented on #46
Thank you for reporting this! I fixed it. The fix will be part of the next release.

[2020-10-07 15:00] devmount opened #49 "Complete translation: Catalan"
**Provide the two-letter code of the existing language**
`ca`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/ca/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:01] devmount opened #50 "Complete translation: Czech"
**Provide the two-letter code of the existing language**
`cs`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/cs/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:02] devmount opened #51 "Complete translation: Spanish"
**Provide the two-letter code of the existing language**
`es`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/es/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:02] devmount opened #52 "Complete translation: French"
**Provide the two-letter code of the existing language**
`fr`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/fr/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:03] devmount opened #53 "Complete translation: Galician"
**Provide the two-letter code of the existing language**
`gl`

**Provide the lines, that are still English and should be translated**
- 24-25
- 32-33
- 40-41
- 44
- 46-47
- 71-72
- 75-76
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/gl/messages.json`](https://github.com/devmount/third-stats/blob/master/publi

[2020-10-07 15:04] devmount opened #54 "Complete translation: Hindi"
**Provide the two-letter code of the existing language**
`hi`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/hi/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:04] devmount opened #55 "Complete translation: Italian"
**Provide the two-letter code of the existing language**
`it`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/it/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:05] devmount opened #56 "Complete translation: Polish"
**Provide the two-letter code of the existing language**
`pl`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/pl/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:05] devmount opened #57 "Complete translation: Portuguese"
**Provide the two-letter code of the existing language**
`pt`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/pt/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:06] devmount opened #58 "Complete translation: Russian"
**Provide the two-letter code of the existing language**
`ru`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/ru/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 15:06] devmount opened #59 "Complete translation: Thai"
**Provide the two-letter code of the existing language**
`th`

**Provide the lines, that are still English and should be translated**
24-25, 56-57, 60-61

**Steps to complete the translation**
- Open the corresponding file, `public/_locales/th/messages.json`
- Translate all values of the given lines, that still have an English translation and create a pull request

[2020-10-07 18:06] leobia commented on #55
Hi! I'm a native Italian speaker and I would love to help you on this issue. Can you assign it to me?

[2020-10-07 18:09] kerlon5 opened #61 "Width of charts after resizing"
**Describe the bug**
incorrect display width of charts after resizing on ultrawide screen

**To Reproduce**
1. Open third stats window
2. bump window to the left (or right) edge of the screen, so it uses half of the screen
3. restore the window to fullscreen view
4. See an error

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercon

[2020-10-07 18:15] kerlon5 commented on #61
full-size screenshot from console reproduce an image with a width of 2593px

[2020-10-07 18:38] kerlon5 commented on #61
looks like `grid-template-columns repeat(4, 1fr)` for `@media (min-width: 2501px) #chart-area-main` solves it
			`

[2020-10-07 18:59] dfoltynski commented on #56
Hi, can u assign me to this? I am native 😊

[2020-10-07 19:13] Hsins commented on #4
@devmount Would you mind to assign it to me? Moreover, there are Traditional Chinese and Simplified Chinese in the world. I think that it's a better idea to divide this issue into two different issues:

- Traditional Chinese, `zh-tw`
- Simplified Chinese, `zh-cn`

I would help to translate the Traditional Chinese part.

[2020-10-07 19:33] kunaljain0212 commented on #54
@devmount Can I work on this issue, please?

[2020-10-07 20:04] aurelienrouze commented on #52
Hi, i opened a new PR to improve french translation. Hope it's ok for you.

Greetings from France ;)

[2020-10-07 20:12] devmount commented on #52
Many thanks, Aurélien!

[2020-10-07 20:12] #52 closed

[2020-10-07 20:14] devmount commented on #54
Of course, thanks in advance!

[2020-10-07 20:14] devmount commented on #55
Awesome, many thanks for your help!

[2020-10-07 20:15] devmount commented on #56
Of course, thank you for your help!

[2020-10-07 20:19] devmount commented on #61
Good catch, thank your for reporting this. When reloading the tab after resizing, everything displays correct, so the issue is most likely caused by the responsive behavior of the charts. I'll take a look at this. If you found a fix, don't hesitate to create a PR. Thank you!

[2020-10-07 20:26] devmount commented on #58
Thank you, Victor!

[2020-10-07 20:26] #58 closed

[2020-10-07 20:29] #55 closed

[2020-10-07 20:30] #50 closed

[2020-10-07 20:40] devmount opened #66 "Add translation: Traditional Chinese"
**Provide the name and the two-letter code of the new language**
Traditional Chinese, `zh-tw`

**Steps to add the translation**
- Add a folder named `public/_locales/zh-tw/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-10-07 20:42] devmount opened #67 "Add translation: Simplified Chinese"
**Provide the name and the two-letter code of the new language**
Simplified Chinese, `zh-cn`

**Steps to add the translation**
- Add a folder named `public/_locales/zh-cn/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-10-07 20:45] devmount commented on #4
Thank you very much, Sean, for this great suggestion and your help! I splitted this issue accordingly into #66 and #67. Please add a comment on the former one, so that I can assign it to you.
Thanks again!

[2020-10-07 21:15] SabrinaFZ commented on #51
Could I be assigned to this issue?

I am spanish-speaking person 😊

[2020-10-07 21:17] devmount commented on #51
Of course, thank you for your help!

[2020-10-07 21:46] Leos1113 commented on #49
Can you assign me this issue?

[2020-10-07 22:00] devmount commented on #49
Sure, thank you for your help!

[2020-10-07 22:09] #51 closed

[2020-10-08 05:46] Hsins commented on #66
Please check Pull Request #69

[2020-10-08 05:56] #66 closed

[2020-10-08 06:06] #54 closed

[2020-10-08 10:35] #56 closed

[2020-10-08 12:00] #61 closed

[2020-10-08 16:48] kerlon5 opened #72 "Locale-based start of the week"
Created from @ianzucker1 comment in #12
It would be nice to have a locale-based start of the week, it can be different [around the world](https://en.wikipedia.org/wiki/Week#/media/File:First_Day_of_Week_World_Map.svg)

**Describe the solution you'd like**
It is possible to use js API call [i18n.getUILanguage()](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/i18n/getUILa

[2020-10-09 06:07] printf-ana commented on #57
Hey, i made this translations, hope help you =)

[2020-10-09 06:12] #57 closed

[2020-10-09 06:47] ryanleesipes commented on #17
This is perfect! :+1:

[2020-10-09 07:04] ryanleesipes commented on #19
So two things to note (one might be the issue).

I installed Thunderbird on this machine via Flatpak so I wonder if that is causing issues. When attempting to load the temporary add-on I get the following message:

This could be because Flatpaks have their own filesystem, I'm troubleshooting.

[2020-10-09 08:17] devmount commented on #72
Thank you for this request. I agree, that it's difficult to provide some automation here based only on language.
What about making Monday the default setting and providing a manual switch for starting the week on another day?

[2020-10-09 09:25] devmount commented on #19
Interesting, is that file actually existing on that location? Looks like the root directory of ThirdStats was not properly recognized... I don't have any experience with Flatpak, so thank you for troubleshooting!

[2020-10-09 11:39] devmount opened #74 "Disalignment of Heatmap cells"
**Describe the bug**
Heatmap cells are not properly aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ThirdStats with enough data to see the HeatMap cells
4. See error

**Expected behavior**
Proper alignment of all cells (no stair effects)

**Screenshots**
![image](https://user-images.githubusercontent.com/5441654/95578708-9c318400-0a34-11eb-8d74-99b5ced68255.png)

**System (plea

[2020-10-09 14:58] #74 closed

[2020-10-11 10:13] marcelstoer commented on #72
Since TB integrated the Lightning calendar there should be a setting for "start of the week" that you can re-use: Preferences > Calendar > Start the week on. It's `calendar.week.start`.

[2020-10-11 11:45] #22 closed

[2020-10-11 20:53] marcelstoer opened #77 "Why not Git-ignore the dist folder?"
I was quite surprised to learn that `dist` is not Git-ignored. If you ever run `yarn build` locally you have to be super careful that you do not accidentally commit/push changes in your local `dist` folder upstream.

[2020-10-11 21:24] devmount commented on #72
Great idea, this would be the most elegant solution in my opinion! I'll take a look at how to access that configuration from within this extension.

[2020-10-11 21:54] devmount commented on #77
I see, thank you for this question. As far as I know, it's not uncommon to include the `dist` or `build` directory in a project. Personally I like to have the "cutting edge build" directly in the repository (e.g. for testing purposes) but I understand your concern. Are there any other arguments against tracking the `dist` folder despite having to pay attention on commit/push?

[2020-10-12 06:06] marcelstoer commented on #77
I _my_ experience - 20y backend development - it's very uncommon to include any assets created by the build in the repository (e.g. `dist` for npm/yarn, `target` for Maven, `build` for Gradle). Such assets are intermediary artifacts that can be (re-)created anytime by checking out the sources and running `my-build-tool my-build-command`.

I can somewhat sympathize with this but...
- That would mea

[2020-10-12 07:26] devmount commented on #77
Thanks you for this detailed answer! I will take some time to take a look at this and come back with a decision.

[2020-10-12 12:56] devmount commented on #72
Unfortunately I didn't find a possibility to access the calendar settings - maybe you know a way @marcelstoer ? Only thing I found in the documentation are the options for the add-on itself (https://developer.thunderbird.net/add-ons/mailextensions#the-manifest-json-file).

[2020-10-12 19:57] marcelstoer commented on #72
Sorry, can't offer much help as I'm not at all familiar with add-on development. Judging by the developer documentation I guess the idea is to expose TB settings via WebExtension APIs. However, there is no calendar API available yet.

Maybe just assume the TB default and use https://github.com/thundernest/addon-developer-support/tree/master/auxiliary-apis/LegacyPrefs to check if the user changed i

[2020-10-13 08:45] devmount commented on #72
No problem, thanks for your help anyway! I see what I can do 👍🏻

[2020-10-13 10:51] devmount commented on #77
I decided to remove the `dist` folder from the repo. I found it to be more ease to handle for everyone. Thanks again @marcelstoer for pushing this 😎

[2020-10-13 10:51] #77 closed

[2020-10-13 11:28] devmount opened #78 "Squared Heatmap cells"
**Is your feature request related to a problem? Please describe.**
Cells in Heatmaps are rectangular not square.

**Describe the solution you'd like**
Heatmaps would appear more fitting, if they were square. Maybe with an additional component property for cell spacing.

**Describe alternatives you've considered**
Leave them rectangular would be ok too.

**Additional context**
none

[2020-10-13 13:08] #78 closed

[2020-10-13 13:20] FrejBjornsson opened #80 "Add Translation: Swedish"
**Provide the name and the two-letter code of the new language**
Swedish, `sv`

**Steps to add the translation**
- Add a folder `public/_locales/sv/`
- Copy the file `public/_locales/en/messages.json` to the new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-10-13 13:22] FrejBjornsson commented on #80
I'd like to translate into Swedish for Hacktoberfest. :) @devmount

[2020-10-13 18:52] devmount commented on #72
One of the TB developers updated the LegacyPrefs API so that I'm now able to access the user settings and implement this feature 👍🏻 Stay tuned.

[2020-10-13 19:26] #72 closed

[2020-10-14 06:44] #59 closed

[2020-10-14 07:52] #80 closed

[2020-10-14 09:19] devmount opened #85 "Light Theme"
**Is your feature request related to a problem? Please describe.**
Currently only a dark theme is implemented. An additional light theme for light environments would be great.

**Describe the solution you'd like**
Light or dark theme styles, based on the user preferred color scheme. Can be realized with the CSS media query `@media (prefers-color-scheme: dark)`.

**Describe alternatives you've cons

[2020-10-14 09:24] devmount opened #86 "No sent email recognition in local accounts"
**Describe the bug**
In the local account I'm not able to define identities, so no mail is recognised as "sent by me".

**To Reproduce**
Steps to reproduce the behavior:
1. Open ThirdStats page
2. Select a local account containing emails
3. See only received emails and no sent emails in ThirdStats

**Expected behavior**
A possibility to define email addresses as "sent from" for local accounts

**S

[2020-10-14 22:04] Leos1113 commented on #49
https://github.com/devmount/third-stats/pull/87 done!

[2020-10-15 06:25] #49 closed

[2020-10-16 15:54] a22a-dev opened #88 "It is showing double the total email counts in every stats"
**System (please complete the following information):**
- OS: Manjaro 20.1
- Thunderbird Version 73.3.2

[2020-10-17 11:56] devmount commented on #88
@aak9t9 Thank you for this bug report. Can you provide a little more information? Do you have multiple accounts? Is it doubled for every single account? Which account types do you use (IMAP, POP)? Which message store type (mbox or maildir)?

I'll try to reproduce this on Manjaro asap.

[2020-10-18 20:39] aak9t9 commented on #88
`Can you provide a little more information?`
Yup.
`Do you have multiple accounts?`
Yes, I have two accounts. But I tested it with single account and issue is still there.
`Is it doubled for every single account?`
Yes
`Which account types do you use (IMAP, POP)?`
IMAP, I guess. I'm not sure. How can I check that?
`Which message store type (mbox or maildir)?`
No Idea.

[2020-10-19 03:57] devmount commented on #88
Thank you for your answers.

Account > Right Click > Settings > Server Settings: See server type at the top

Account > Right Click > Settings > Server Settings: See message store type at the bottom under storage settings

[2020-10-19 13:16] aak9t9 commented on #88
Thanks. I checked.
IMAP Mail Server & mbox it is.

[2020-10-19 13:17] aak9t9 commented on #88
Ans the problem does not occur on fresh installation of thunderbird and add on. But when launched the second or third time, this issue shows up.

[2020-10-20 10:37] koobs commented on #19
I'm seeing the same issue on:

 * Windows: 10 Pro x64 (2004, 19041.572)
 * Thunderbird: 82.0b3 (64-bit)
 * Third-Stats: 0.5.0

Additional symptoms to report:

 * The processing hangs after the same number of messages are parsed. In my case: 82,562 (now 82,564 after 2 new messages are received)
 * I see the same errors in **debug addons** console output as @ryanleesipes

**However**, when I view th

[2020-10-20 12:07] devmount commented on #19
Thank you @koobs for this detailed description and error analysis! 👏🏻 This definitely helps. Have you checked [the possible fix](https://github.com/devmount/third-stats/issues/19#issuecomment-703310904) I created? Does it change anything?

Thanks to your error log I can do some additional test and see if I can find what's causing this issue.

A click of the toolbar icon always reloads the popup co

[2020-10-20 15:42] jswildcards commented on #67
Hello, I'm interested in it. May I grab this issue? Thanks! 😃

[2020-10-20 21:12] devmount commented on #67
Of course, go ahead!

[2020-10-21 07:50] #4 closed

[2020-10-21 07:50] #67 closed

[2020-10-22 18:27] tonewarper opened #91 "Range of years is of questionable accuracy"
For some accounts, the stat for Total Mail (X mails within Y.Z years) displays a year range that is highly improbable. In my case, it says **50.8**, which — if correct — implies that I have received a mail from 1969… which would be 2 years before email was invented.

I can reproduce this behavior simply by navigating using the "Thunderbird Stats” button to the stats.html page for my IMAP-pulled Gm

[2020-10-24 13:01] devmount commented on #91
Thank you, @tonewarper for reporting this. The time span is indeed calculated based on the oldest email in your account. 50.8 years ago is very likely January 1st of 1970, which is the beginning of the unix time period. So I assume, that the date property of at least one of your emails is 0.

I will add an additional check for time range calculation to only take emails into account, that have a ti

[2020-10-25 09:45] dynobo opened #92 "Show summarized stats of all accounts"
**Is your feature request related to a problem? Please describe.**
Currently I can select a specific account, for which the stats are calculated. I use different accounts + local accounts for organizing all my mails, but still would love to have an overview on the overall stats.

**Describe the solution you'd like**
A simple solution could be to add an additional entry "all" to the "accounts"-drop

[2020-10-25 13:00] tonewarper commented on #91
Ha, that’s interesting. I’m happy to test out for you that the fix worked if you let me know when the update that includes it is released, and close the issue here. Right now I’m just curious about these stats personally but I can see your experiment with this dashboard having into a premium option (BI solution for companies who want to track or display their outbound e-mail marketing team's perfo

[2020-10-25 13:24] devmount commented on #88
Thank you for all these information - I'll try to reproduce this and get back to you when I have a fix.

[2020-10-25 13:29] devmount commented on #91
Awesome, I'll let you know when I fixed it 👍🏻

I don't have any plans in this direction. I just needed some analytics for my own email accounts and created this add-on. So I thought: Why not sharing the good things I built for myself with the great TB user community? That's all.

[2020-10-25 13:38] devmount commented on #92
Thanks @dynobo for this request. I like it and definitely see the advantage for users with a lot of accounts. As there are currently some bugs to fix, this won't be in the next release, but maby the one after.

You're very welcome, I'm glad you like this add-on 😊

[2020-10-26 09:32] #85 closed

[2020-10-26 12:35] devmount commented on #91
With #94 I implemented a possible fix. As soon as the next version gets released, the fix is public and ready for you to test.

[2020-10-26 13:10] devmount commented on #88
Ok I'm not able to reproduce this on my system - so I have a few more questions:

1. What are the exact steps you do to reproduce the doubled stats? Install ThirdStats > open stats page (everything fine) > close Thunderbird with opened stats page > reopen Thunderbird > see doubled stats on stats page?
2. Do the numbers get tripled/quadrupled/etc. if you repeat the steps above?
3. Is every single n

[2020-10-27 06:44] devmount commented on #91
@tonewarper FYI: I just released v0.6.0 of ThirdStats, it will soon be available in the Thunderbird add-on repository. Please let me know, if this issue persists.

[2020-10-28 09:53] devmount opened #96 "Add translation: Turkish"
**Provide the name and the two-letter code of the new language**
Turkish, `tr`

**Steps to add the translation**
- Add a folder `public/_locales/tr/`
- Copy the file `public/_locales/en/messages.json` to your new folder
- Translate all values of that file (please leave the keys untouched!) and create a pull request

[2020-10-28 10:23] #96 closed

[2020-10-30 11:51] tonewarper commented on #91
Fixed, Andreas ! 11.7 years showing now… much more realistic!

[2020-10-30 11:51] #91 closed

[2020-10-30 11:55] tonewarper commented on #19
I use TB 78.4 on MacOS Catalina 10.15.7 … and experiencing the exact same behaviors. You’re seeing this on 3 OS’s , so it does not seem OS-related.

[2020-10-30 12:02] devmount commented on #19
Thank you @tonewarper for confirming this issue. Unfortunately I cannot reproduce this on my own machines, so I'm waiting for someone to test [the possible fix](https://github.com/devmount/third-stats/issues/19#issuecomment-703310904). I can provide the fix as XPI file, if that helps testing it.

[2020-10-30 13:30] a22a-dev commented on #88
1. Now when tested it again it is happening after every new install. I wiped the .thunderbird folder and did the whole thing again, and it is doubling, the first time itself. Also it is detecting 2 sets of folder.
![image](https://user-images.githubusercontent.com/24972285/97710672-10b28c80-1ae2-11eb-82f5-f6b66b6ff2a4.png)
2. Nope, only double.
3. No Exceptions

[2020-10-31 07:11] #86 closed

[2020-10-31 09:23] a22a-dev commented on #88
I forgot to mention this before, but I'm running the beta version of thunderbird that is available in AUR.

[2020-10-31 12:37] devmount commented on #88
Although your screenshot looks quite correct. E.g. your Local Account has two folders which I assume to be the two standard folders for TB local accounts (Deleted and Outbox)...

So you're not running Thunderbird Version 73.3.2 as you first mentioned?

[2020-10-31 13:35] a22a-dev commented on #88
Oh I'm so sorry.
First I was running the version 73.3.2 downloaded directly from thunderbird site. And the bug appeared. For which I created this issue.
Then about a week later, i formated the laptop and instead of installing from thunderbird site, i installed it from AUR version 83.0b1.
So right I'm on version 83.0b1.

So Bullet 1 was in response to 83.0b1.

[2020-11-01 07:08] devmount opened #99 "Additional Line Charts: Total number of emails per quarter and per week"
**Is your feature request related to a problem? Please describe.**
It would be nice to have more fine-grained charts than the existing "Total number of emails per year/per month" charts. Also the first two charts use a lot of space for displaying the same kind of information (number of emails over the whole time) in different resolutions.

**Describe the solution you'd like**
Reduce the two existi

[2020-11-02 08:01] devmount opened #100 "Add metrics about frequency of keywords in email subject"
**Is your feature request related to a problem? Please describe.**
No problem, just the request for an additional metric showing the top n keywords appearing in email subjects. In addition to the most contacted sections, this would be a more content related metric (instead of person related).

**Describe the solution you'd like**
A bar chart showing the count of the most n keywords

**Describe alt

[2020-11-02 10:13] devmount commented on #88
I see, no problem. I'm pretty much sure that this is not a ThirdStats issue. I searched a bit and there are a lot of old bug reports especially for Gmail accounts about doubled email counts, because of Gmails implementation of email handling.

Things you can do:

- Check with a non Gmail email address account, if the problem persists
- Try solutions like [the one posted here](http://forums.mozilla

[2020-11-02 17:10] devmount commented on #19
Next version of ThirdStats contains a possible (!) fix, let's see if this issue persists.

[2020-11-03 14:56] a22a-dev commented on #88
Thanks!!! Second Solution Worked.

[2020-11-03 15:03] devmount commented on #88
Awesome! Funny how solutions posted more than a decade ago are still working today 😅

[2020-11-03 15:03] #88 closed

[2020-11-06 09:27] #12 closed

[2020-11-06 09:27] #99 closed

[2020-11-06 09:57] devmount commented on #53
@uveic Would you like to update the Galician translation? That would be awesome!

[2020-11-06 11:08] devmount opened #102 "Complete translation: Catalan"
**Provide the two-letter code of the existing language**
`ca`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/ca/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/ca/messages.j

[2020-11-06 11:09] devmount opened #103 "Complete translation: Czech"
**Provide the two-letter code of the existing language**
`cs`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/cs/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/cs/messages.j

[2020-11-06 11:10] devmount opened #104 "Complete translation: German"
**Provide the two-letter code of the existing language**
`de`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/de/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/de/messages.j

[2020-11-06 11:11] devmount opened #105 "Complete translation: Spanish"
**Provide the two-letter code of the existing language**
`es`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/es/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/es/messages.j

[2020-11-06 11:12] devmount opened #106 "Complete translation: French"
**Provide the two-letter code of the existing language**
`fr`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/fr/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/fr/messages.j

[2020-11-06 11:12] devmount opened #107 "Complete translation: Hindi"
**Provide the two-letter code of the existing language**
`hi`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/hi/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/hi/messages.j

[2020-11-06 11:13] devmount opened #108 "Complete translation: Italian"
**Provide the two-letter code of the existing language**
`it`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/it/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/it/messages.j

[2020-11-06 11:36] devmount opened #109 "Complete translation: Japanese"
**Provide the two-letter code of the existing language**
`ja`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/ja/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/ja/messages.j

[2020-11-06 11:37] devmount opened #110 "Complete translation: Polish"
**Provide the two-letter code of the existing language**
`pl`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/pl/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/pl/messages.j

[2020-11-06 11:38] devmount opened #111 "Complete translation: Portuguese"
**Provide the two-letter code of the existing language**
`pt`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/pt/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/pt/messages.j

[2020-11-06 11:40] devmount opened #112 "Complete translation: Russian"
**Provide the two-letter code of the existing language**
`ru`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/ru/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/ru/messages.j

[2020-11-06 11:40] devmount opened #113 "Complete translation: Swedish"
**Provide the two-letter code of the existing language**
`sv`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/sv/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/sv/messages.j

[2020-11-06 11:41] devmount opened #114 "Complete translation: Thai"
**Provide the two-letter code of the existing language**
`th`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/th/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/th/messages.j

[2020-11-06 11:42] devmount opened #115 "Complete translation: Turkish"
**Provide the two-letter code of the existing language**
`tr`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/tr/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/tr/messages.j

[2020-11-06 11:43] devmount opened #116 "Complete translation: Simplified Chinese"
**Provide the two-letter code of the existing language**
`zh-cn`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/zh-cn/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/zh-cn/m

[2020-11-06 11:43] devmount opened #117 "Complete translation: Traditional Chinese"
**Provide the two-letter code of the existing language**
`zh-tw`

**Provide the lines, that are still English and should be translated**
- 32-33
- 40-41
- 44
- 46-47
- 81-82
- 85-86
- 93-94
- 97
- 100-101
- 104-105

**Steps to complete the translation**
- Open the corresponding file, [`public/_locales/zh-tw/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/zh-tw/m

[2020-11-06 14:42] devmount opened #118 "ThirdStats logo on stats page"
**Is your feature request related to a problem? Please describe.**
This is just a small thing, but there is no permanent logo of ThirdStats on the stats page.

**Describe the solution you'd like**
The logo next to the heading.

**Describe alternatives you've considered**
None.

**Additional context**
![image](https://user-images.githubusercontent.com/5441654/98378555-79e85180-2046-11eb-945c-3bb15d

[2020-11-06 23:32] uveic commented on #53
@devmount Sure thing! Assign it to me, I'll do it within the next couple of days.

[2020-11-07 18:25] devmount commented on #53
Awesome, thank you!

[2020-11-09 05:18] devmount commented on #117
@Hsins Would you like to update the Traditional Chinese translation agian? That would be awesome!

[2020-11-09 05:19] #104 closed

[2020-11-09 05:20] devmount commented on #19
@tonewarper @koobs @ryanleesipes The possible fix is now public in the Thunderbird add-on repository. Please update ThirdStats to v0.7.0 and let me know, if you still have this issue. Thank you all for testing and improving this add-on!

[2020-11-09 05:22] devmount commented on #116
@jswildcards Would you like to update the Simplified Chinese translation again? That would be awesome!

[2020-11-09 05:23] devmount commented on #115
@tosbaha Would you like to update the Turkish translation again? That would be awesome!

[2020-11-09 05:24] devmount commented on #114
@kerlos Would you like to update the Thai translation again? That would be awesome!

[2020-11-09 05:26] devmount commented on #113
@FrejBjornsson Would you like to update the Simplified Chinese translation again? That would be awesome!

[2020-11-09 05:28] jswildcards commented on #116
@devmount Sure!

[2020-11-09 05:37] devmount commented on #112
@kerlon5 and @maria-muravyova Would one of you like to update the Russian translation again? That would be awesome!

[2020-11-09 05:38] devmount commented on #111
@di3goCS and @printf-ana Would one of you like to update the Portuguese translation again? That would be awesome!

[2020-11-09 05:41] devmount commented on #110
@wikiyu and @dfoltynski Would one of you like to update the Portuguese translation again? That would be awesome!

[2020-11-09 05:42] FrejBjornsson commented on #113
If you mean the Swedish translation I'd be happy to help! @devmount

[2020-11-09 05:42] devmount commented on #109
@marcelstoer Would you like to update the Japanese translation again? That would be awesome!

[2020-11-09 05:45] devmount commented on #108
@edmael @leobia Would one of you like to update the Italian translation again? That would be awesome!

[2020-11-09 05:46] devmount commented on #107
@kunaljain0212 @mdfaizan7 Would one of you like to update the Hindi translation again? That would be awesome!

[2020-11-09 05:49] devmount commented on #106
@feyre-2001 @antoinevth @aurelienrouze Would one of you like to update the French translation again? That would be awesome!

[2020-11-09 05:51] devmount commented on #105
@roninJosue @SabrinaFZ Would one of you like to update the Spanish translation again? That would be awesome!

[2020-11-09 05:52] devmount commented on #103
@ajyan @martinsustek Would one of you like to update the Czech translation again? That would be awesome!

[2020-11-09 05:53] devmount commented on #102
@altmas5 @Leos1113 Would one of you like to update the Catalan translation again? That would be awesome!

[2020-11-09 05:56] devmount commented on #113
Sorry, copy and paste 🙈😅 Yes I meant Swedish! Thanks so much! 👏🏻

[2020-11-09 05:58] #116 closed

[2020-11-09 06:04] Hsins commented on #117
I have updated the Traditional Chinese translation in the PR https://github.com/devmount/third-stats/pull/121.

[2020-11-09 06:24] #117 closed

[2020-11-09 08:23] #115 closed

[2020-11-09 10:39] aurelienrouze commented on #106
Hi,

I'm on it ;)

[2020-11-09 11:04] aurelienrouze commented on #106
There is the translation.

Have a great day !

[2020-11-09 11:26] devmount commented on #20
@Taneesha-creates Are you still up to this?

[2020-11-09 12:28] #106 closed

[2020-11-09 14:29] roninJosue commented on #105
Hello, yeah I going to do it :)

[2020-11-09 14:36] devmount commented on #105
Nice, thank you!

[2020-11-09 14:49] di3goCS commented on #111
Oh! I guess i could do it next week! :)

[2020-11-09 15:50] devmount commented on #111
Awesome, thanks!

[2020-11-09 16:50] altmas5 commented on #102
Sure, I'll sync my fork with the current upstream and update the translation.

[2020-11-09 16:51] devmount commented on #102
Awesome, many thanks!

[2020-11-09 18:39] uveic commented on #53
I've just done it.

https://github.com/devmount/third-stats/pull/124

I'll try to keep an eye now and then to check if a new translation is needed. Don't hesitate to get in touch if needed.

[2020-11-09 19:03] #53 closed

[2020-11-09 20:51] #102 closed

[2020-11-09 21:14] martinsustek commented on #103
pull request #126

[2020-11-10 04:08] koobs commented on #19
@devmount Success! Thank you 👍 Now we can focus on overwhelming you with feature requests ;D

Which commit was the likely fix for the issue?

![2020-11-10 15_05_20-E-Mail Account Statistics - Mozilla Thunderbird](https://user-images.githubusercontent.com/1011612/98626734-43daf400-230a-11eb-91e5-6591c55048ca.png)

[2020-11-10 04:53] devmount commented on #19
Great! I'm very happy that it works for you now 👏🏻

Go ahead, I'm looking forward to your ideas 💡👍🏻😅

Yes, it was 97506847a23cd20c9091068f124af0046ada24e7

[2020-11-10 04:55] #103 closed

[2020-11-10 05:00] devmount commented on #53
That's how open source works 💚. Thanks so much 👏🏻!

[2020-11-10 07:21] leobia commented on #108
There you go :) As I wrote on the description I did not translate rows 93-94 because I think that they are more understandable that way in Italian

[2020-11-10 07:41] #108 closed

[2020-11-10 13:57] tonewarper commented on #19
I am the bearer of unpleasant news… on my end, this very-same behavior still persists on v0.70 , even after restarting TB twice. Perhaps it worked for @koobs on Windows while I’m on MacOS? Or maybe there is another variable at play. Most of my mails are fetched via IMAP on Gmail servers.  It’s peculiar that Thunderbird Stats is able to produce a count of the mails but doesn’t generate the charting

[2020-11-10 14:03] devmount commented on #19
@tonewarper Sorry that it didn't work for you. Can you share your console output (as described [here](https://github.com/devmount/third-stats/issues/19#issuecomment-701991021))?

[2020-11-10 16:31] devmount opened #128 "Add metrics about spam mails"
**Describe the feature you'd like**
Some additional insights about percentage of spam mails or similar would be nice.

**Additional context**
None.

[2020-11-10 17:42] altmas5 commented on #102
Anytime!

[2020-11-10 22:10] marcelstoer commented on #109
Accepted

[2020-11-11 01:01] koobs opened #129 "Replace "open external link" icon with "dashboard" like icon"
**Is your feature request related to a problem? Please describe.**

Understanding the context and semantics of UI graphics is important. The current icon in the third-stats toolbar menu is a "square with top right facing arrow". This is usually used to mean 'open external link'.

![third-1](https://user-images.githubusercontent.com/1011612/98752788-d509a380-23ba-11eb-948f-783b91242d9b.png)

While

[2020-11-11 01:40] koobs opened #130 "Do not restart processing from scratch all the time"
**Is your feature request related to a problem? Please describe.**

At present, ThirdStats starts processing mail from scratch each time:

 * The toolbar menu is opened
 * Each time the account is switched in the dashboard view

Additionally, if existing mail has already been completely processed at least once, the existing stats are cleared/removed

This represents unnecessary:

 * CPU and IO uti

[2020-11-11 01:57] koobs opened #131 "Add stats refresh/rebuild function"
**Is your feature request related to a problem? Please describe.**

There is no present way to refresh third stats without:

  a) Switching accounts
  b) Closing and re-opening the full dashboard view

The above options have the implications outlined in #130, and in resolving #130, would leave ThirdStats users with no easy mechanic for rebuilding or updating mail stats.

**Describe the solution yo

[2020-11-11 02:07] koobs opened #132 "Improve ThirdStats tab title"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

The present tab title is "E-mail Account Statistics".

![2020-11-11 12_59_23-E-Mail Account Statistics - Mozilla Thunderbird](https://user-images.githubusercontent.com/1011612/98757758-1bfc9680-23c5-11eb-808c-2813a5c9b47a.png)

I propose an improvement: `ThirdStats: <account name>`, where

[2020-11-11 11:48] FrejBjornsson commented on #113
I created a PR. Tell me if you need anything else or if something is missing.  👍

[2020-11-11 22:12] marcelstoer commented on #109
Btw, have you considered moving to a cloud/browser-based localization platform? I can imagine that it would greatly simplify your life and ours.

[2020-11-12 21:44] #113 closed

[2020-11-12 21:48] #109 closed

[2020-11-12 21:53] devmount commented on #109
Yes I considered it when this project started and decided to wait and see if there would be enough interest in different translations.  Now with around 20 languages you're right, we need something better than GitHub issues 😅

Do you have experience with these tools? Would you recommend one?

Thank you for this suggestion.

[2020-11-13 13:56] devmount commented on #109
I found this tool and might give it a try:
https://gitlocalize.com

[2020-11-13 21:04] marcelstoer commented on #109
Little to no experience, sorry. A while back I helped translate a major WordPress plugin on GlotPress; is a bit dated. GitLocalize looks really promising.

[2020-11-14 06:03] devmount commented on #109
Ok cool, thanks again for your valuable input. I'll create a new issue to discuss GitLocalize with all translators and get started there.

[2020-11-14 12:22] devmount opened #135 "Utilize GitLocalize for translation management"
Hey there fellow contributors 👋🏻

Thanks to @marcelstoer's [suggestion](https://github.com/devmount/third-stats/issues/109#issuecomment-725690221), I imported this projects localizations to [GitLocalize](https://gitlocalize.com), a tool to make the collaboration on completing translations (hopefully) a lot easier than using GitHub issues. It basically tracks, if the translated files have all value

[2020-11-14 12:24] devmount commented on #114
This issue isn't necessary anymore - see #135.

[2020-11-14 12:24] #114 closed

[2020-11-14 12:25] devmount commented on #112
This issue isn't necessary anymore - see #135.

[2020-11-14 12:25] #112 closed

[2020-11-14 12:26] devmount commented on #111
Hey Diego, please have a look at #135 - we'll try to improve the translation process.

[2020-11-14 12:26] #111 closed

[2020-11-14 12:26] devmount commented on #110
This issue isn't necessary anymore - see #135.

[2020-11-14 12:26] #110 closed

[2020-11-14 12:27] devmount commented on #107
This issue isn't necessary anymore - see #135.

[2020-11-14 12:27] #107 closed

[2020-11-14 12:28] devmount commented on #105
Hey Reynaldo, please have a look at #135 - we'll try to improve the translation process.

[2020-11-14 12:28] #105 closed

[2020-11-14 12:29] devmount commented on #20
This issue isn't necessary anymore - see #135.

[2020-11-14 12:29] #20 closed

[2020-11-14 12:37] jswildcards commented on #135
@devmount I'm in

[2020-11-14 12:39] FrejBjornsson commented on #135
@devmount I'm in! 😊

[2020-11-14 13:18] devmount commented on #135
Wow, you're fast 👏🏻 @jswildcards I added you ✅ @FrejBjornsson I couldn't find you yet 🔍

[2020-11-14 13:23] FrejBjornsson commented on #135
@devmount i must have missed something, i should show up now 👍

[2020-11-14 13:28] di3goCS commented on #135
I'm in!

[2020-11-14 13:44] leobia commented on #135
I'm in! 😀

[2020-11-14 14:48] di3goCS commented on #135
I requested a review

[2020-11-14 14:51] kerlon5 commented on #135
I'm in (kerlon5)

On Sat, Nov 14, 2020 at 5:22 PM Andreas <notifications@github.com> wrote:

[2020-11-14 15:57] devmount commented on #135
Awesome! I created PR #136 from it, it seems to work showing you as the author of the commit ✅
![image](https://user-images.githubusercontent.com/5441654/99151296-666a6580-269a-11eb-93e4-8fcda45ccf6f.png)

[2020-11-14 16:55] marcelstoer commented on #135
Count me in.

[2020-11-14 18:02] altmas5 commented on #135
I'm in

[2020-11-14 18:54] Hsins commented on #135
I'm in

[2020-11-14 19:25] martinsustek commented on #135
I'm in

[2020-11-14 21:10] aurelienrouze commented on #135
I'm in !

[2020-11-15 13:36] mdfaizan7 commented on #135
I'm in

[2020-11-17 05:33] devmount commented on #129
Thanks so much @koobs for this extremely nice and detailed explanations 👏🏻 Here are my thoughts:

1. I wouldn't reuse the logo again for the same reason you already mentioned (too close to the toolbar logo icon)
2. In this project I use the [tabler icons](https://tablericons.com/), so these would be the icons that are available (my favorite is the `chart-area` I think):
![image](https://user-image

[2020-11-17 06:24] #118 closed

[2020-11-17 06:25] devmount commented on #118
It now looks like this:
![image](https://user-images.githubusercontent.com/5441654/99354072-07793c00-28a6-11eb-89a8-27ad09e8c713.png)

[2020-11-18 13:01] devmount opened #142 "Move 'Start of Week' to ThirdStats Options"
**Is your feature request related to a problem? Please describe.**
Currently ThirdStats uses the LegacyPrefs to access the user setting 'Start of Week' from Thunderbirds calendar options. While it's a nice idea to reuse an existing option, there are the following drawbacks:

- LegacyPrefs increase filesize of ThirdStats by ca. 6%
- LegacyPrefs require a manual revision by a Thunderbird developer w

[2020-11-19 05:08] devmount commented on #129
Ok I played around a little bit and ended up using a grid/dashboard icon:
![image](https://user-images.githubusercontent.com/5441654/99623925-73d27780-2a2d-11eb-8ead-0ca43ff1e3cf.png)

What do you think?

[2020-11-19 06:01] devmount commented on #132
Hi @koobs, again thank you so much for your extremely detailed description 👏🏻👏🏻
I'm totally with you and implemented your suggestion on title and favicon:

![image](https://user-images.githubusercontent.com/5441654/99627662-04f91c80-2a35-11eb-918f-5e898ef9dd27.png)

[2020-11-19 06:16] #132 closed

[2020-11-19 13:19] devmount commented on #19
So for @koobs is the fix working, for @tonewarper not. How about you @ryanleesipes? Did 0.7.0 fix this issue for you?
@tonewarper Did you have some time to look into the console?

[2020-11-19 16:34] 6Sim9 commented on #19
Hi,
Same issue here:
TB 78.4.3 (64b) / W10

It works great with my local folder...

but fail with my main account:
![image](https://user-images.githubusercontent.com/61496585/99694909-36053b80-2a8d-11eb-9d8d-a476c7f9f83a.png)

![image](https://user-images.githubusercontent.com/61496585/99695064-68169d80-2a8d-11eb-9952-464bbd145b9e.png)

I hope it helps...

[2020-11-19 19:57] devmount commented on #19
Hi @6Sim9, thank you for these valuable additional information. It still looks like an issue with the folder processing, so I implemented an error handler to provide more information and gracefully continue processing in case of failure (d3203fd09fe6d5fea76d4fd9088eceed741641db). It will be part of the next release v0.8.0 - let's hope that it works 🙏🏻 (I still can't reproduce this issue on any of

[2020-11-20 01:35] koobs commented on #129
@devmount Definitely +1 on chart-area, i think 'grid' has the same issue as OP

[2020-11-20 01:36] koobs commented on #132
My pleasure, you're welcome :)

Thanks for resolving!

[2020-11-20 01:40] koobs commented on #132
@devmount Does Thunderbird not currently at present support setting tab icons?

Might be worth a bug report to request API support for it, like Firefox ([WebExtensions API: Tabs](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/Tab))

Would you like me to create a separate issue in this repo for tracking the feature request?

[2020-11-20 01:44] koobs commented on #132
Mmm, looks like it may be supported ... ?

[Thunderbird WebExtensions: Tabs](https://thunderbird-webextensions.readthedocs.io/en/68/tabs.html#tab)

[2020-11-20 04:45] devmount commented on #129
Thank you for your feedback. I implemented the chart-area icon now:
![image](https://user-images.githubusercontent.com/5441654/99759282-cc1f7d00-2af2-11eb-8feb-26388c85377e.png)

And an additional tooltip on mouseover to explain the action:
![image](https://user-images.githubusercontent.com/5441654/99760194-70a1bf00-2af3-11eb-8bf7-fdc675df03bf.png)

[2020-11-20 04:52] devmount commented on #132
It does, and I already implemented it (see screenshot above).

[2020-11-20 05:04] devmount commented on #128
As ThirdStats only does a "current state" analysis, it will be hard to get some useful information here. A good metric would be the ratio of spam and non-spam emails (per day, per year, etc) or at which time spam mails usually drop in. BUT: That would require people keeping ALL spam mails in their Junk folder, which isn't good practice and very few people do this I think.

Any additional ideas on

[2020-11-20 16:08] #129 closed

[2020-11-20 17:13] devmount commented on #19
ThirdStats v0.8.0 is public. @6Sim9 @tonewarper: Please upgrade your ThirdStats add-on and check if the problem still persists. Have a nice weekend.

[2020-11-21 18:56] devmount commented on #128
According to [the docs](https://thunderbird-webextensions.readthedocs.io/en/78/messages.html#messages-messageheader), Thunderbird stores 2 information about spam/junk for each mail:

- a junk flag (Boolean)
- a junk score (Integer)

Given these informationen, the following metrics are possible for ThirdStats:

- current number of junk emails existing per account (with e.g. zero junk indication)
-

[2020-11-22 04:22] koobs commented on #132
Ugh, silly me :) Looks great.

Thanks Andreas!

[2020-11-22 04:23] devmount commented on #132
No problem at all 😂

[2020-11-22 07:14] devmount commented on #130
Thank you @koobs. This will be the major change in the next release v1.0.0 as this is something, that bothered me from the beginning of ThirdStats 😅 and it is exactly as you thought: The current behaviour is simply because it was the easiest to implement in the early states of ThirdStats.

Some technical information:
- Thunderbird offers the same storage API as Firefox, which offers 5MB of extensi

[2020-11-23 05:31] tonewarper commented on #19
Updated and restarted, bug still alive. There are several CallResult for closed conduit Child errors when I switch to the add-on but I think here is when — yes — I also experience folder processing issues:

![image](https://user-images.githubusercontent.com/46685787/99931405-d600e480-2d6d-11eb-80b6-e21321224c03.png)

[2020-11-23 05:40] devmount commented on #19
Sorry to hear that. I'll further investigate this issue and will let you know when I have a solution.

[2020-11-23 08:27] 6Sim9 commented on #19
Hi!
Same here :'(
![image](https://user-images.githubusercontent.com/61496585/99941089-b36ecb80-2d6d-11eb-88cf-6c72d52554bf.png)

I've think about something... Maybe it's a clue.
My mails are stored on a different drive letter(D:) than TB (C:).

Have a nice week :)

[2020-11-23 18:53] Eagle3386 opened #151 "Reimplement exclusion/hiding of local account(s)"
**Is your feature request related to a problem? Please describe.**
Commit #29 fixed #13, but also raised the issue of an empty option for those not using local folders, i. e. basically anyone relying on today's de-facto-standard, IMAP(S).

**Describe the solution you'd like**
Reimplement exclusion/hiding of local account(s), i. e. offer an option (preferably being enabled by default due to aforeme

[2020-11-23 19:02] Eagle3386 opened #152 "Show stats of all accounts compared on one page"
**Is your feature request related to a problem? Please describe.**
If, for whatever reason, implementation of #151 isn't possible, or, better yet, besides that issue, switching to a metrics display is generally considered a worthy idea.

**Describe the solution you'd like**
Switch from a per-account to an overall metrics display with _all_ mails from _all_ (user-selected) accounts, with different

[2020-11-24 04:43] devmount commented on #151
Hi Martin, thanks for reporting this - you're right, the majority of people (including me) probably doesn't use local accounts. In a first step, I will implement a simple list of all existing accounts in the add-on options, where you can activate/deactivate any account. Local accounts will be deactivated by default.

As you mentioned in #152, the next step is the implementation of the overall stat

[2020-11-24 04:53] devmount commented on #152
Thank you for these very good ideas and thoughts! 👏🏻 This is basically the same as #92, I will take a look into this after the next major release and will implement it as soon as I have a clue, how to build this with a clean and intuitive UI 😅

You're very welcome, thanks so much for this positive feedback 😊

[2020-11-24 05:18] devmount commented on #19
Thank you for confirming this issue. Before I make another guess of a solution, we need to debug this issue on your end, to really find the cause of the problem.

@6Sim9 and @tonewarper Can you please do the following:

1. Open Thunderbird
2. Open the ThirdStats stats page and wait ca. 1min
2. Open the console (main menu > add-ons > gear > debug add-ons > scroll to ThirdStats > Inspect)
3. Clear c

[2020-11-24 09:31] 6Sim9 commented on #19
Hi!
222 folders found but no error.

[2020-11-24 10:05] devmount commented on #19
Interesting. If you expand the folder list, are all folder entries valid or are there folders without a name or without a path?

[2020-11-24 10:37] 6Sim9 commented on #19
All seems to be OK.
Here is an exemple:

![image](https://user-images.githubusercontent.com/61496585/100083072-46c8ff00-2e49-11eb-8058-2c516e0c24be.png)

[2020-11-24 11:17] devmount commented on #19
Ok, now that we know, that the folder list is correct, let's take it a step further and count all messages of all folders of all accounts. Please enter the following, if you have the console still open:

[code]

If you have a new console, here is the full code snippet:

[code]

The output can take some time, according to the number of messages you have. Please let me know, if you now have any erro

[2020-11-24 17:37] Eagle3386 commented on #152
Thanks for the quick reply & sorry for the duplicate.. Had a search on "overall", but not "over all" prior to opening my issue.
Anyway, _really_ looking forward to that release! 😍🥳

Just 2 thoughts regarding the UI: 1 chart with all accounts at the top, maybe with each account's color in both, a vivid & subtle color flavor, e. g. dark & sky-blue, for distinction between received/sent mails & each

[2020-11-24 17:43] Eagle3386 commented on #151
Sounds great, Andreas! 👏🏻🤩

Again, my pleasure regarding providing suggestions for improvement - the more (useful 😉) suggestions, the better the stats & let's be honest: mail hoarder like us love stats looking several years back, don't we? 😅🙈

[2020-11-24 19:28] devmount commented on #151
I see no way to disprove that 😅

[2020-11-24 20:18] devmount commented on #41
Are you still interested in this feature request? If yes, I need some help creating the corresponding object to implement the special pluralization. @wikiyu @dfoltynski ?

[2020-11-25 04:31] tonewarper commented on #19
I followed the same routine you asked of @6Sim9 . Message counts not working -

`folder is null ext-messages.js:189
    list chrome://messenger/content/parent/ext-messages.js:189
    list self-hosted:844
    result resource://gre/modules/ExtensionParent.jsm:996
    withPendingBrowser resource://gre/modules/ExtensionParent.jsm:602
    result resource://gre/modules/ExtensionParent.jsm:996
    callAn

[2020-11-25 05:18] devmount commented on #19
Thank you @tonewarper for these information. The code snippet above basically uses the same method given as example in the docs: https://thunderbird-webextensions.readthedocs.io/en/78/how-to/messageLists.html

Due to resource management message lists are splitted into page which you have to iterate over to get all messages of a folder. So seeing how this error appears, I assume that it's caused by

[2020-11-25 09:30] 6Sim9 commented on #19
Hi!
Here are my results:

![image](https://user-images.githubusercontent.com/61496585/100208349-ebf6dc80-2f08-11eb-9bc9-81ac599317a9.png)

I don't have any IMAP nor Gmail account.

[2020-11-25 11:04] uveic commented on #135
I'm in.

[2020-11-25 14:38] devmount commented on #19
Thank you @6Sim9 for your results and these additional information. So when you're not using IMAP, you use good ol' POP3? I see if someone at Thunderbirds topicbox can help us here.

[2020-11-25 18:33] arndissler commented on #19
Hi there, I'm currently not able to reproduce it (yet), but I have found the problem in the Thunderbird source code where the error occurs and will investigate further. As far as I can see there's no bug ticket filed on Bugzilla, so I collect more information and file one.

The main problem so far is to find a reliable scenario so that one is able to test and reproduce the error and to ensure that

[2020-11-25 18:40] devmount commented on #19
Thank you @arndissler for investigating this issue further 👏🏻

[2020-11-26 05:43] devmount commented on #19
It looks like it could be caused by this bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1529791

@6Sim9 & @tonewarper can you somehow determine if you use virtual folders?

[2020-11-26 07:29] koobs commented on #19
@devmount For what its worth, I'm running (successfully, without errors) ThirdStats on a Gmail backed account too and not running any special settings or folder subscribe settings. I mention this as "[Gmail]" is mentioned in the the bug mentioned in the previous comment. See screenshots below:

![2020-11-26 18_22_04-Spam - Mozilla Thunderbird](https://user-images.githubusercontent.com/1011612/1003

[2020-11-26 07:33] devmount commented on #19
@koobs thank you. Another user just confirmed, that he is successfully using ThirdStats with virtual folders, so that might not be the problem here. I'll take a look what other folder types exist and if there is any type currently not supported by the webextension API.

[2020-11-26 22:37] arndissler commented on #19
Is anyone who's facing this issue here up for testing a "daily build" of Thunderbird? The testing procedure will be as follows:

1. clone (duplicate) your Thunderbird profile where the error occurs
2. download a specific Daily build of Thunderbird
3. extract the ZIP (Windows) or open the DMG (macOS)
4. start the Thunderbird from the ZIP/DMG via use the cloned profile from step 1., so Thunderbird s

[2020-11-27 06:44] koobs commented on #19
@arndissler Probably not the best place for this, but relevent nonetheless given the request. If I (and users) had control over Telemetry (the pref is locked True on beta/nightlies), we'd use nightly (and I use to). I'd be more than happy and in fact, I'd prefer, to run nightly again, particularly to help support extension developers ramp up after the mass webextensions exodus

[2020-11-28 17:07] tonewarper commented on #19
I’m not sure if I use virtual folders, but what I do know for sure is that I’ve configured my IMAP folders in TB to sync all Gmails and store on my hard drive too for faster search-speed, so I have a massive profile size (I still use PST, not Mbox, if that makes a difference). I can also now confirm that the “?” folder path I mentioned earlier was indeed not a TB bug implicated in the null result…

[2020-11-29 05:13] devmount commented on #135
Now that we used GitLocalize for more than two weeks: how do you like this tool? I think it's definitely better than GitHub issues as it provides a great overview of the current state of each translation. What I'm missing though is some kind of notification system, that you can get a hint if keys were added or the source language changed.

[2020-11-29 08:18] marcelstoer commented on #135
Same here. I can't be asked to head over to https://gitlocalize.com/repo/5505/ja/public/_locales/en/messages.json?filter=all&limit=50&offset=50 every week or so just to check whether there's work to do or not.

The other very important but missing feature is the option to filter (or sort) the content by missing keys. Our i10n resource is still small but even now I need scroll through two pages and

[2020-11-29 11:15] devmount commented on #135
@marcelstoer Thank you for your feedback.

This feature actually exists:

![image](https://user-images.githubusercontent.com/5441654/100540199-267bb480-323c-11eb-935e-3d55730b7d5d.png)

or just got to https://gitlocalize.com/repo/5505/ja/public/_locales/en/messages.json?filter=untranslated

I'll check if I can automate notification with a corresponding GitHub Action, I'll let you know.

[2020-11-29 11:26] marcelstoer commented on #135
Oh, I missed that filter icon, thanks.

[2020-11-29 12:42] #131 closed

[2020-11-30 00:46] koobs commented on #130
@devmount Apologies for the lack of response on this. I'll test the initial implementation when its out and provide feedback. Thank you for taking care of this :)

[2020-11-30 01:03] koobs opened #156 "Setup automatic WebExtension development builds/releases via CI"
Setup automatic builds and (WebExtension) artifact creation via CI to facilitate better development workflow and easier/faster user testing prior to release

 - [ ] Per-PR and per-push CI
 - [ ] Produce a GitHub 'release' for each PR created and/or merged or changeset pushed to master
 - [ ] 'New' releases should contain commits / commit log messages since the last build (ie; a changelog)
 - [ ] S

[2020-11-30 04:23] devmount commented on #130
@koobs No problem at all, it would be a great help if you test this and give feedback 👍🏻

[2020-11-30 04:43] devmount commented on #156
+1 for automation. This is already on my todo list - I'll see when I have time to properly implement this.

[2020-12-04 04:30] #151 closed

[2020-12-04 06:12] devmount opened #161 "Stats for custom time ranges"
**Is your feature request related to a problem? Please describe.**
Currently accounts are analyzed over the whole time, it's not possible to have an evaluation of a special period of time.

**Describe the solution you'd like**
Additional date fields (which can live e.g. in a corresponding filter section) to select a custom time range for evaluation.

**Describe alternatives you've considered**
Non

[2020-12-04 06:23] devmount opened #162 "Filter section for stats page"
**Is your feature request related to a problem? Please describe.**
There is currently no way to see stats for custom conditions.

**Describe the solution you'd like**
There should be a section in the header area of the stats page for multiple filter fields to live in, which is easily accessible.

**Describe alternatives you've considered**
Filter could also live in a context menu or three-dots/ham

[2020-12-04 07:25] devmount opened #164 "TypeError: prin.URI is null"
Implementation of #159 was only possible using a workaround described [in this thread](https://thunderbird.topicbox.com/groups/addons/Te33a79990d7a857e/cant-access-accounts-from-within-options-page).

So currently, ThirdStats throws these errors:
[code]

Once Thunderbird became multi-process, workaround can be removed:

- [ ] remove background page
- [ ] edit manifest.json
- [ ] edit Options.vue

[2020-12-04 10:38] devmount commented on #151
@Eagle3386 This feature is now released. Please test it and issue a bug report, if something doesn't work as expected. Thank you!

[2020-12-04 10:39] devmount commented on #130
@koobs This feature is now released. Please test it and issue a bug report, if something doesn't work as expected. Thank you!

[2020-12-04 15:12] Eagle3386 commented on #151
@devmount Already updated, but actually found a bug - will open an issue right after this comment..
Nonetheless, thanks again for this awesome project! 👏🏻🤜🏻

[2020-12-04 15:17] devmount commented on #151
Ok thank you!
You're welcome - wouldn't be that awesome without people like you who test, provide feedback and file bug reports 🤛🏻👏🏻

[2020-12-04 15:18] Eagle3386 opened #165 "Account selection toggles all items instead of only the clicked one"
**Describe the bug**
Clicking an item within the newly introduced account selection list (#151) toggles all items instead of only the clicked one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ThirdStats's options dialog.
2. Click any account item.
3. All checkmarks are toggled.

**Expected behavior**
The clicked item's checkmark is toggled.

**System (please complete the following in

[2020-12-04 15:30] devmount commented on #165
Thank you for reporting this. Can you please do the following:

- open the console (add-ons > gear > debug add-ons > scroll to ThirdStats > Inspect)
- clear console (small trash icon on the upper left)
- go to the ThirdStats options and toggle the accounts
- paste any occuring error message

And another check:

- open the storage inspector (add-ons > gear > debug add-ons > scroll to ThirdStats > I

[2020-12-04 15:44] devmount commented on #165
Ok this is not a Thunderbird 84.* issue. I just tested it:
![third-stats_accounts_bug](https://user-images.githubusercontent.com/5441654/101183549-f2dfc680-364f-11eb-984d-5dc3a8ee17fb.gif)

[2020-12-05 04:39] #41 closed

[2020-12-05 05:06] devmount commented on #41
@wikiyu Thanks to @arndissler, we now have Polish pluralization rules implemented. You can now translate [l.6 of `pl/messages.json`](https://github.com/devmount/third-stats/blob/master/public/_locales/pl/messages.json#L6) like this: `"Konto | Konta | Kont"`

Would be awesome if you find some time to translate Polish to the latest state. You can use our [localization tool](https://gitlocalize.com/r

[2020-12-05 05:16] koobs commented on #130
@devmount Will test tonight and provide feedback for issue resolution/close, thanks again! :)

[2020-12-06 18:49] Eagle3386 commented on #165
My pleasure, I guess.. 😅

No single message appear, although all filtering was disabled, i. e. nothing was hidden. 🥺

Done, result looks like this (and yes, all accounts even the local one, was ticked prior to creating this screenshot 😞):
![image](https://user-images.githubusercontent.com/5111490/101289323-0334a480-37fc-11eb-9d9e-e5eddbcc7c8a.png)

As stated by yourself later, i. e. right above th

[2020-12-07 05:40] #162 closed

[2020-12-07 15:16] devmount commented on #165
Thank you @Eagle3386 for these results. This looks like a mistake on my side. I released v1.0.2 to fix this, please update your ThirdStats (if it's not already done automatically by TB) and try again.

[2020-12-07 15:24] Eagle3386 commented on #165
Awesome, works like a charm now! 🥳

BTW, the release notes, too:
![image](https://user-images.githubusercontent.com/5111490/101369478-a8a55200-38a8-11eb-87c3-4f736348c8b3.png)

[2020-12-07 15:25] #165 closed

[2020-12-07 15:31] devmount commented on #165
Great! And sorry for the inconvenience.

[2020-12-07 15:43] devmount opened #169 "Exclude messages from me to myself"
(I'm writing this issue on behalf of a user who's not on GitHub)

**Is your feature request related to a problem? Please describe.**
I sometimes email to myself. These emails are currently included in the ThirdStats results. I would like to exclude them.

**Describe the solution you'd like**
- An additional option to exclude any messages where sender and receiver are identities from the account, t

[2020-12-08 04:57] koobs commented on #130
I've tested the new 0.8.0 version, which enables the processing 'cache'. Mentioned in the original feature description, but not present in this version, is:

- Clicking on the toolbar icon starts processing again each time it is opened

ThirdStats should implement a 'lockfile' style mechanism so that processing can continue, and only a single instance of the processing per account can run at any o

[2020-12-08 08:31] koobs commented on #130
@devmount If you'd like (since this issue is closed), I can create the remaining issues as separate new issues. Alternatively (if you'd prefer), you can re-open this and I'll create the remaining things as individual checkmarks

[2020-12-08 09:08] devmount commented on #130
Thank you Kubilay. I'm currently considering removing the popup menu completely and linking the toolbar icon directly to the stats page. I was never really satisfied with this popup menu as it offers very little added value.

Alternatively I can only remove the messages count from the popup menu. This would remove the processing and waiting times on clicking on the toolbar icon.
What do you think?

[2020-12-08 09:19] devmount commented on #130
Yes this is because TB handles popup and stats page as completely separate instances. Implementing additional storage for the popup seems to be a bit too much for just a popup that should just launch the stats page. (That's why my considerations in the last comment). I'd rather like to keep it simple on this point.

I like the current approach. When opening the stats page and no cache entry exists

[2020-12-08 10:22] koobs commented on #130
yeh, not a bad idea. perhaps we can resurrect it if we can come up with something compelling for its contents.

Zero thinking ideas:

- sparklines / heatmap of some primary metric, count or stat
- maybe just show the message totals, but not have processing be initiated at all.

Or does the menu require (force) processing?

[2020-12-08 10:26] devmount commented on #130
Unfortunately the message count requires processing. There is (currently) no other way with the web extensions API than to iterate over all messages of all folders.

[2020-12-08 12:14] kkalev opened #170 "number axis for main statistics"
When viewing the main statistics line chart It is rather inconvenient that a vertical number axis is not shown. That means that a screenshot of the chart for example cannot be used to communicate specific quantitative details apart from volume differences between different time periods.

See example:

![image](https://user-images.githubusercontent.com/2707736/101482323-3c395a00-395f-11eb-9ce6-12ae

[2020-12-08 12:31] devmount commented on #170
Thank you for this request - I will make the vertical axis configurable in the add-on options in the next release.

[2020-12-08 16:20] devmount commented on #44
This was implemented now with #171.

**Note**: Stats will only be shown for the messages in the selected folder, not for subfolders. Stats for folders will always be processed from scratch, as it would generate to many cache entries to store stats for every single folder.

[2020-12-08 16:21] #44 closed

[2020-12-09 16:55] arndissler commented on #19
Four your information: it seems like the fix for this behaviour will be available with Thunderbird 85.

[2020-12-10 07:15] devmount commented on #19
Thank you Arnd 👏🏻

[2020-12-16 14:58] 6Sim9 commented on #19
Hi!
I don't know if it's help.
I copied my email folder from d: to c: and created a new account with this local directory.

And it works!
![image](https://user-images.githubusercontent.com/61496585/102364875-3d9a0080-3fb7-11eb-894e-7b3871505765.png)

Initial account still doesn't work...
![image](https://user-images.githubusercontent.com/61496585/102365039-6f12cc00-3fb7-11eb-8dac-d1afba135b79.png)

[2020-12-16 16:27] devmount commented on #19
This confirms, that it's a problem with IMAP folders. I guess that converting the IMAP account to a local account creates "real" folders only which the WebExtensions API can handle properly. We will wait for Thunderbird 85 to be released to test this issue again.

[2020-12-16 17:39] 6Sim9 commented on #19
OK ... I'm sorry ... I realize I didn't respond when you asked me about IMAP or POP.
My server setting is "POP mail server".

[2020-12-17 12:32] devmount commented on #161
This feature is implemented now. Here is how it works:

![third-stats_filter_time_period](https://user-images.githubusercontent.com/5441654/102487441-dd649680-406a-11eb-8c66-25395f2dad79.gif)

[2020-12-17 12:32] #161 closed

[2020-12-17 12:38] devmount commented on #19
No problem. It seems to be the same for POP mail server. There are special folder types on your mail server Thunderbird can't handle properly. Let's hope, that TB85 gets released soon.

[2020-12-17 14:17] devmount opened #174 "Remove processing from Popup (Toolbar button)"
**Describe the bug**
The popup opened via the ThirdStats toolbar button takes way to long to process, especially on accounts containing > 10k mails. This repeats every single time, the popup is opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Thunderbird > Toolbar
2. Click on ThirdStats toolbar button
3. See loading spinner

**Expected behavior**
Instant availability of all cont

[2020-12-17 14:26] devmount opened #175 "Add primary metrics to Popup (Toolbar button)"
**Is your feature request related to a problem? Please describe.**
The issue described in #174 leads to the removal of all stats from the content of the popup menu. It would be nice to have some basic metrics in the popup again.

**Describe the solution you'd like**
When ThirdStats is initially started or caching is deactivated, the popup menu should show just the account tiles and the folder coun

[2020-12-17 14:33] devmount opened #176 "Store timestamps with cache entries and show it where cached data is shown"
**Is your feature request related to a problem? Please describe.**
When account data is loaded from cache, there is currently no way to see, when exactly this data was processed.

**Describe the solution you'd like**
There should be a possibility to see, how outdated the currently displayed data is.

**Describe alternatives you've considered**
The timestamp can either be displayed formatted as a d

[2020-12-17 14:33] devmount commented on #130
Out of our thoughts, I created the following issues:

- Remove processing from Popup (Toolbar button) #174
- Add primary metrics to Popup (Toolbar button) loaded from cache if cache exists (no processing necessary) #175
- Add timestamp to cache entries and show it everywhere data is shown from cache #176

We can use the [discussions section](https://github.com/devmount/third-stats/discussions) for

[2020-12-17 14:33] #130 closed

[2020-12-17 21:31] devmount commented on #170
This feature is implemented now and will soon be published with the next release:

![image](https://user-images.githubusercontent.com/5441654/102545384-74a30b80-40b6-11eb-8f36-ca813253ae9a.png)

Let me know if everything works as expected then.

[2020-12-17 21:31] #170 closed

[2020-12-19 11:48] #174 closed

[2020-12-21 06:31] devmount commented on #152
FYI: I'm currently working on #92, which requested to show the sum of all stats. This issue here describes a comparison view, to show all stats in the same charts, so it's not really the same request like I first thought. Once #92 landed, I will work on this requests to provide a comparison view too.

[2020-12-21 16:28] dacemotion opened #179 "Possibility to select certain periods of time within the statistics tab"
**Is your feature request related to a problem? Please describe.**
Right now the automatically selected period of time of the mailbox statistics starts from the first mail up to today.

**Describe the solution you'd like**
It would be great, if there could be any kind of a "select a certain time-span" - button.
So one would be able to visualize only the period of time one is interested in.
This ti

[2020-12-21 18:28] scharf opened #180 "How to see the stats?"
Can you quickly explain how to show the stats? It is not obvious from the descriptions?

[2020-12-21 19:44] devmount commented on #179
Thank you for this feature request. This already was implemented with #161 and will be part of the next release coming this week 👍🏻 Let me know if it works for you.

[2020-12-21 19:50] devmount commented on #180
Hi Michael,
thank you for this question. Once you installed the add-on, the ThirdStats button appears in the toolbar. Clicking it opens a popup menu, which allows you to open the stats page by clicking on the title or on a single account:

![image](https://user-images.githubusercontent.com/5441654/102816239-fb652a80-43cd-11eb-86ed-7aae79088031.png)

I'll try to make that more clear in the add-on d

[2020-12-21 20:47] scharf commented on #180
👍

I simply did not see it, because I just updated thunderbird from  a really old version to `78` (the old version did not run on Mac Big Sur) and I did not realize this subtle change in the UI.

[2020-12-21 20:50] scharf commented on #180
...especially, because I turned off labels:
![image](https://user-images.githubusercontent.com/3731059/102820976-76cada00-43d6-11eb-8bd4-22a27a5ed0c4.jpeg)

[2020-12-22 02:02] scharf opened #181 "use sqlite to speed up the stats"
I don't know much about thunderbird add-ons, but I have been using `SQLite` directly to get some simple stats on my thunderbird account. I have 640 folders, 480,000 emails, 20 accounts, and the oldest messages are from 1994. `third-stats` is very slow, but running `SQLite` queries is quite fast.

For example, running this query on `global-messages-db.sqlite` takes a few seconds. And I think if you

[2020-12-22 06:59] devmount commented on #181
Wow 😮 That's quite a lot 😅 But the processing finishes at some point? How long does that take? Are the 480k emails the total of all 20 accounts? How many emails does your largest account hold (as ThirdStats only does per account processing)?

This add-on is based on Thunderbirds WebExtension APIs which basically only provide two functions to retrieve and iterate over all emails ([list](https://thu

[2020-12-22 07:01] devmount commented on #180
I see, I'll take this into account when updating the description 👍🏻

[2020-12-22 07:08] drfedtke opened #182 "Possibilities to: a) Select set of relevant accounts, b) select relevant periods, c) longer "most relevant" lists"
first of all, great work you did! this add-on is needed.

for a daily use, and maybe to review at christmas time with whom I had conversation with in the current year, it would we great to have the following:

a) a possible configuration which accounts should be included to the analysis
b) a possible configuration if a date-range, and a good default like "last nnn days"
c) the top-10 list should b

[2020-12-22 07:45] devmount opened #183 "Option to define the number of most contacted email addresses"
**Is your feature request related to a problem? Please describe.**
Currently the number of most contacted email addresses shown in the horizontal bar charts is hard-coded to `10`. As suggested by @drfedtke in #182, sometimes you just want to see more contacts here.

**Describe the solution you'd like**
This number should be configurable in the add-on options to

**Describe alternatives you've cons

[2020-12-22 07:46] devmount commented on #182
Hi Stephen,
my pleasure, I'm glad this add-on is useful for you.

a) This is already implemented (#159). Just head over to the add-on options and configure the accounts list as you wish.
b) This is also already implemented (#173), but not released yet. I plan to release this tomorrow.
c) The `10` is currently hard-coded. I created another issue (#183) for this to implement a corresponding add-on o

[2020-12-22 10:42] scharf commented on #181
My biggest account has 168k mails. It takes like 10 minutes.

It never finishes for some of the accounts. I see the basic stats and that's it. It seems that there are some broken mails, like mails without sender or senders that only contain a name but no email. There are also some mails without date.

It's unfortunate that WebExtension does not seem to provide access to `SQLite`.

This is not an e

[2020-12-22 13:34] devmount commented on #181
Hm, that's indeed very slow. My 31k account gets processed in 19s, which is ~1600mails/s. Your account only gets 280mails/s for some reason...

This may be this known issue: #19

I see and I'm glad you see it that way - nevertheless ThirdStats does not exactly deliver what it promises and that's what I'm sorry for 🤷🏻‍♂️

[2020-12-23 06:19] devmount commented on #181
Since you stated, that this is **not**  a bug report, are you nevertheless willing to analyze this further? If so, you could [create a profile](https://github.com/thunderbird-conversations/thunderbird-conversations/wiki/Profiling-Conversation's-Performance) of the processing of your largest email account. and provide a link to your results. That way, I can compare it with my own profile and may id

[2020-12-23 16:13] #179 closed

[2020-12-23 18:58] dacemotion commented on #179
It works perfectly - thank You a lot!
And just adding a little idea: What Do You think about using the actual date as a standard default setting for the end-date?

[2020-12-24 10:34] devmount commented on #180
I updated readme and add-on description. Merry christmas 🎄🔔

[2020-12-24 10:34] #180 closed

[2020-12-24 11:21] devmount commented on #179
Awesome 👍🏻
Very good idea - I'll wait for some more user feedback on this. If more people would like this, I will provide an add-on option where you can activate this default setting 👍🏻

[2020-12-26 15:56] Eagle3386 opened #188 "Enrich UX for new time period filter"
**Is your feature request related to a problem? Please describe.**
As kinda "follow-up" for #161, I'd like to request the UX enrichment of the aforementioned filter controls.

**Describe the solution you'd like**
1. Adopt modern HTML5 date input controls by switching both filter input controls to the [date type](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date) which in turn re

[2020-12-26 17:11] Eagle3386 commented on #188
I've went "all in" & adopted the changes myself via 2 seperate PR.
Since I've never worked with Vue.JS, please notify me of any possible improvements - initializing the `Date` object for `max`/`min` values twice is probably a good example.. 😉

[2020-12-26 22:05] devmount commented on #188
Hi Martin,
thank you for these suggestions.

1. I actually used input elements of type date at first. But I decided against it because of the following two reasons:
    - I found the calendar popups to be a bit buggy - especially on Thunderbirds default dark theme (coloring is really confusing there)
    - Picking a date in the calendar popup takes more time than typing 6 digits, especially for ol

[2020-12-27 13:51] rfwolff opened #191 "List of accounts not fully displayed"
List of accounts not fully displayed when clicking the ThirdStats button.

To reproduce:
Click on ThirdStats button (Thunderbird main window / Mail toolbar). Eight accounts found but only 6.5 of these are displayed (list cut off), i.e. seven are clickable, local accounts is missing (out of view).

Expected behaviour:
Display all accounts, e.g. include scrollbar if not all accounts can be displayed

[2020-12-27 13:54] rfwolff opened #192 "Option to stop/change account"
It would be helpful to have the option to stop analysing an account or to select a different account. This would avoid having to close the tab with the add-on to analyse a different account.

[2020-12-27 13:59] rfwolff opened #193 "Detailed information on senders/recipients"
The visual representation of results could be improved if email addresses, listed under "most received from" or "most sent to", respectively, would be clickable to show details for that address. For example, a click on the first entry in "most received from" would visualise (activity over time, daytime, weekday, month, temporal distribution etc.) data for that address.

[2020-12-27 14:01] rfwolff opened #194 "Selection of folders"
When selecting what to analyse, it would be nice to be able to select folder(s) of a certain account.

[2020-12-27 14:04] rfwolff opened #195 "Better integretation of add-on options within Thunderbird"
Options for this add-on can be found via "Add-ons Manager" / "ThirdStats" / Tab "Options".
It would be good to display these in "Tools" / "Add-on Options" as well.

[2020-12-27 18:38] Eagle3386 commented on #188
Thought a bit longer about it & that's the outcome:
1. I was *that* eager about developing something useful for Thunderbird, I modified the files right in GitHub's Web IDE - which is why I didn't notice that coloring issue you're referring to.. 🙈😅
2. That "speed input" was triggering a longer UI/UX thinking process inside my head - in fact, I even dreamed about several ideas last night.. 🙈😅
3. Swi

[2020-12-28 12:24] devmount commented on #191
Thank you for reporting this. It's caused by a max-height set by Thunderbird for popup menus. Will be fixed in the next release.

[2020-12-28 12:32] devmount commented on #192
The reason for the current behavior is, that only fully processed account data can be cached. Therefore the select field is disabled while processing.
I totally agree with you, that especially for large accounts it would be a good thing to be able to cancel processing. I will think about how to implement this.

In the meantime, you can use <kbd>F5</kbd> or right click anywhere > Reload to refresh

[2020-12-28 12:41] devmount commented on #193
Thank you for this request. So in fact, this would be an additional filter for contact specific stats. Since I'm using Chart,js to generate the charts, I have to see if there's a click listener for single elements in a bar chart. It's definitely possible to implement this as a drop-down, like the folder filter.

[2020-12-28 12:47] devmount commented on #194
Actually this is already implemented. The filter area at the top right area of the stats page contains a drop down for a specific folder of the currently selected account. See #44

![image](https://user-images.githubusercontent.com/5441654/103215262-22ae8100-4913-11eb-9905-6864c337a721.png)

Or did you mean something else?

[2020-12-28 12:53] devmount commented on #195
Thank you for this suggestion. I'm totally with you, the add-on options should be more accessible. I'll see how new menu entries can be add without using legacy APIs.

[2020-12-28 13:20] devmount commented on #188
😊

 1. I see - well PRs should be locally tested at least once to ensure against regressions. But I like this eagerness of yours 😎
 2. Wow you're really into this issue 😂
 3. & 4. Thank you for your suggested solution. I agree that it would be much better to provide the default values here (earliest date + today) making the date input fields required to be filled. If someone empties a date field a

[2020-12-28 14:33] rfwolff commented on #191
Excellent, thank you. Looking forward to the new version.

[2020-12-28 14:34] rfwolff commented on #192
Good to know, thanks.

[2020-12-28 14:35] rfwolff commented on #193
Sounds good, thanks for looking into it.

[2020-12-28 14:36] rfwolff commented on #194
My bad, I missed that.

[2020-12-28 14:36] rfwolff commented on #195
Thanks for looking into that.

[2020-12-28 14:52] devmount commented on #194
No problem at all

[2020-12-28 14:52] #194 closed

[2020-12-28 15:46] Eagle3386 commented on #188
Thanks a lot & thanks for bearing with me! 😉

Absolutely - especially since ThirdStats is already on the path for being even more awesome than GMail Meter could ever be! 😍🥳

Awesome! 🤩👏🏻

I do like the idea, but the concept art could be improved:
- Make the calendar input styling more like a button:
![image](https://user-images.githubusercontent.com/5111490/103225924-4978b180-492b-11eb-9c6e-64d158

[2020-12-28 21:39] devmount commented on #188
Of course you're right. I will test the datepicker again in TB 85 and see, if this was already fixed.

To make clear it's actually clickable - agreed 👍🏻

I wouldn't do this. Every change in the date fields would directly start a new processing. Especially for larger date ranges this could take some time. Imagine someone wanted to change both date fields. After changing one field, they would have t

[2020-12-29 14:44] Eagle3386 commented on #188
Awesome! Let me know, if I can be of any (further) help! 😎

Awesome²! 😉 Though, I feel a bit sad that my PR is now mostly obsolete which in turn reduces my contributions to your awesome project which a lot, from my point of view at least. 🙁

I see... Let me think about this for a second...

Coming from a C# background, I know off cancellation tokens which can be passed to tasks which - upon recept

[2020-12-29 21:30] devmount commented on #188
Will do, thanks!

You already did quite a lot by filing reports and requests and sharing all your good, detailed thoughts, ideas and feedback. I don't see how one obsolete PR could diminish that.

Afaik there's no such functionality.

How exactly do you imagine that? Can you sketch it maybe? I like your interpretation of the viewport icons, I'll definitely try those out and post some screenshots h

[2021-01-03 20:48] devmount commented on #92
This feature took a lot more time than expected, but it's now implemented with #196 and will be part of the next release. Please test it and if you have any problems, file a bug report. Happy new year 🎉

[2021-01-03 20:48] #92 closed

[2021-01-03 21:02] devmount opened #197 "Activity Heatmaps show activity of week 53 in wrong year"
**Describe the bug**
The activity heatmap shows activity of week 53 in the wrong year.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stats page
2. Have emails e.g. on the 1st of January 2021
3. See activity on week 53 of year 2021 instead of 2020

**Expected behavior**
Activity of week 53 should be correctly shown in the previous year.

**Screenshots**
If applicable, add screenshots

[2021-01-03 23:20] Eagle3386 commented on #188
Will provide sketch tomorrow, time for 🛏 now.. 😅

[2021-01-04 10:15] devmount commented on #191
This got implemented with #198. Account tiles are now two column and overflow content can be reached via scrolling.

[2021-01-04 10:15] #191 closed

[2021-01-04 14:17] devmount commented on #197
I fixed it. Note: To apply this fix, data of all accounts has to be reprocessed, if cache is enabled.

[2021-01-04 14:17] #197 closed

[2021-01-05 06:30] devmount opened #201 "Add loading/refreshing progress indicator"
**Is your feature request related to a problem? Please describe.**
When loading or refreshing account data, there's no way to see, how much time this operation will probably take.

**Describe the solution you'd like**
A loading indicator. E.g. a progress bar on top of the stats page showing the number of folders of an account, that have already been processed so far.

**Describe alternatives you'v

[2021-01-05 21:14] devmount commented on #176
This was implemented now with #202.

[2021-01-05 21:14] #176 closed

[2021-01-06 11:31] devmount commented on #169
Now implemented with #203. See notes in PR description.

[2021-01-06 11:31] #169 closed

[2021-01-06 21:05] #201 closed

[2021-01-08 14:05] #183 closed

[2021-01-08 14:07] devmount commented on #182
FYI c) now also got implemented with #206 and will be released soon.

[2021-01-08 16:45] devmount commented on #181
Please reopen this issue in case you created a performance profile. Thanks you!

[2021-01-08 16:45] #181 closed

[2021-01-09 19:46] dynobo opened #208 ""All Account" statistics not available"
**Describe the bug**

Hi @devmount, first, thanks you very much for implementing the [all-accounts stats feature](https://github.com/devmount/third-stats/pull/196)! :+1:

It should be available in v1.2.0, right? I just updated to v1.2.0 but sadly, it doesn't work for me:

**To Reproduce**
A) Steps to reproduce the behavior:
1. Go to Thunderbirds Stats by selecting an individual account
2. The "Acc

[2021-01-09 21:17] devmount commented on #208
Hi @dynobo,
thank you for reporting this.

A) The "All Accounts (Sum)" option only appears, if Cache is enabled (due to performance reasons) - please check the add-on options for this.

B) This is indeed a bug, if Cache is disabled (I missed that case at this point). I'll fix this asap!

[2021-01-09 21:46] devmount commented on #208
(Sorry, closed this by mistake)

[2021-01-10 16:32] dynobo commented on #208
Thanks, while it wasn't the cache option, it actually lead me into the right direction:
Cache was already activated, but one of the accounts wasn't "ticked" as active:
![image](https://user-images.githubusercontent.com/11071876/104128607-eba38b00-5368-11eb-9383-254f2060feff.png)

I didn't notice that, because like in the screenshots submitted earlier, I was perfectly able to select and view statis

[2021-01-10 19:47] devmount commented on #208
I see, that's indeed another bug you discovered here 😅 Normally, all non-local accounts are disabled by default in the add-on options. I'll take a look into this and close this issue when fixed. Thanks again 👍🏻

[2021-01-10 20:08] devmount commented on #208
I fixed it now with #210. The issue you encountered affected all users, who have two accounts where one account is local. Account lists should be properly initiated now.

[2021-01-10 20:08] #208 closed

[2021-01-11 05:43] devmount commented on #195
It's [currently not possible](https://thunderbird.topicbox.com/groups/addons/T77adb065b7855df2/add-entry-to-main-menu) to add entries to the main menu without using the lecacy menus API (which I don't want).

So for now, I will implement a gear icon in the popup menu as well as on the stats page to open the options page separately as a new tab.

[2021-01-11 14:19] rfwolff commented on #195
Thanks for the update. Hopefully, it will be possible at some point. I like the idea of implementing a gear icon in the popup menu.

[2021-01-12 21:52] devmount commented on #195
The popup menu and stats page now hold a gear icon link in the upper right corner to open options in a dedicated tab.

[2021-01-12 21:52] #195 closed

[2021-01-13 09:06] devmount opened #213 "Add metrics about attachments"
**Is your feature request related to a problem? Please describe.**
@drfedtke stated in #182, that it would be nice to have additional metrics about attachments.

**Describe the solution you'd like**
There are several possibilities. Most obvious would be the total number of emails with attachments or the total size.

**Describe alternatives you've considered**
Also possible is the average number of

[2021-01-13 09:07] devmount commented on #213
Thunderbirds WebExtension APIs currently [don't provide a corresponding attribute](https://webextension-api.thunderbird.net/en/78/messages.html#messageheader) to retrieve information about attachments, so for now this will be on hold. In the meantime I encourage you to discuss the proposed metrics about attachments.

[2021-01-13 09:10] devmount commented on #182
I added #213 for d), please comment there if you have any ideas about attachment metrics.

[2021-01-13 09:10] #182 closed

[2021-01-13 09:19] devmount opened #214 "Include CC and BCC for self message recognition"
**Describe the bug**
#203 made it possible to exclude self messages. However this only works for normal recipients. CC and BCC receivers are not taken into account.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Thunderbird and write a new email to one of the configured identities and CC an external email address.
2. Open ThirdStats and see, that this email will be recognized as self m

[2021-01-13 09:55] #214 closed

[2021-01-14 22:44] devmount opened #220 "Easier changing of year of activity overview"
**Is your feature request related to a problem? Please describe.**
Changing the year in the activity overview is only possible by opening the select field.

**Describe the solution you'd like**
Especially for "walking through" many years one by one, it would be much easier to have arrow navigation buttons to do that.

**Describe alternatives you've considered**
Keyboard hotkeys are also possible.

[2021-01-14 23:43] #220 closed

[2021-01-21 17:47] Eagle3386 commented on #188
@devmount Sorry for being _that_ late, but both, day job & private engagements, took away all spare time up to now.. :(
Though, I managed to create sort of an UI sketch:
![image](https://user-images.githubusercontent.com/5111490/105389718-75c8da80-5c18-11eb-8344-15ec7a282e31.png)

Maybe both button icons should be exchanged with each other as normally, such icons show what happens _after_ being cl

[2021-01-22 11:21] orgoj opened #223 "Ignore saved searches"
ThirdStats hang on updating stats on account if it contains save searched as folder.

In extension debug console is:
Uncaught (in promise) Error: Folder not found: /SAVED_SEARCH_FOLDER_NAME   undefined

[2021-01-23 06:06] devmount commented on #223
Hi Michael,

thank you for reporting this. How did you create that save search folder? Directly in Thunderbird (if so, which steps did you take?) or on your mail server before it got synced to Thunderbird?

[2021-01-23 06:37] devmount commented on #192
After doing some research, I didn't find a suitable solution to this. In case you really need it, please use the workaround provided in my previous post. For now, I will close this request, but If someone has a clever idea how to implement this processing termination, PRs are welcome and I'm happy to reopen it.

[2021-01-23 06:37] #192 closed

[2021-01-23 08:13] orgoj commented on #223
Hi Andreas,

directly in Thunderbird. Right click any IMAP foleder, select Search Messages, fill some search criteria, click button Save as Search Folder (default is selected under originating IMAP folder).

[2021-01-24 12:48] #175 closed

[2021-01-24 13:15] devmount commented on #223
Ok, I've done exactly like you described - but I don't get any error messages and processing finishes as intended.

Can you please provide the full error stack and all information from the issue template for bug reports? Thanks.

[2021-01-24 14:49] orgoj commented on #223
OS: Ubuntu 20.04
Thunderbird: from ppa:mozillateam/ppa 78.6.1 (64-bit)
Thunderbird account is IMAPS with cca 30 folders (6 saved searches) 60000 mails

Console log of extension
<details>
<summary>Details</summary>

14:53:17.882 debuggee 'resource://devtools/shared/base-loader.js:289' would run builtin-modules.js:180:9
14:53:19.839
Unknown property ‘-moz-stack-sizing’.  Declaration dropped. chat.cs

[2021-01-24 17:34] devmount commented on #223
Thank you, I will take a closer look how Search Folders (didn't know about them until you reported this 😅) are handled in the Webextension APIs and let you know, when I have a bug fix. Maybe it's also related to #19

[2021-01-24 18:12] orgoj commented on #223
The problem is probably a char '@', which I use in folder name. I try make saved search on other working account in Thirds stats. After refresh this working, if folder name not contain @ at name start. This for in problematic account, after removing all @.

[2021-01-25 06:07] devmount commented on #223
You're totally right, adding `@` to the search folder name provokes this error on my site too. I've done some debugging and unfortunately I don't see a way to identify search folders, as they don't seem to have a type property. I placed a [corresponding report at Thunderbirds topicbox](https://thunderbird.topicbox.com/groups/addons/T9512c51064524848/search-folder-recognition), let's hope somebody

[2021-01-25 06:35] devmount commented on #188
No reason to be sorry for - we all have a life next to OSS 😅

Many thanks for your sketch! 👏🏻  I like the idea a lot but see the following problems:
- While the shrink&expand buttons look great here, they are quite unfamiliar in this context. I'm afraid people will be confused, especially (like you already mentioned) because you don't know, if they represent the current or next state. This could b

[2021-01-25 12:46] devmount commented on #223
It looks like a Thunderbird issue, so I created a corresponding bug report:
https://bugzilla.mozilla.org/show_bug.cgi?id=1688612

Let's hope, a fix will soon be available.

[2021-01-28 11:18] amedranogil opened #228 "Add aggregated folder view, see the distribution of emails in folders in time"
**Is your feature request related to a problem? Please describe.**
I need to report monthly my work ours per project. For this I typically look at my calendar, but this feels short, It would be great if I could see the distribution of emails in my account folders for the last month(s). This way I can see where I have been spending most of my email time, as I use the zero inbox method and archive e

[2021-01-28 14:07] devmount commented on #228
Thank you for this feature request. Adding some aggregated folder stats is a great idea - the current Date Range filter is already capable of doing the time selection, so this is essentially implementing a pie/doughnut chart showing the folder message count distribution of the current date range. Won't be in the next release, but maybe in the one after.

[2021-01-28 14:18] devmount commented on #223
As there is nothing more to do on ThirdStats' side, I'll close this here.

[2021-01-28 14:18] #223 closed

[2021-01-28 15:28] Eagle3386 commented on #188
😅👍🏻

I'm desperately trying to convince you of the proposed icon change here as they're _that_ much beautiful (for me at least 😅), so I'd like you to consider this real-world scenario:
- Brand new user enters the page, minimum/maximum date & button are at their defaults.
- Upon input of either date, the button's icon switches to the narrowing one
- Upon button click, the icon color becomes the Thi

[2021-01-29 15:10] devmount commented on #156
I've now added a GitHub action, that does the following:

- build the project on each commit/push
- create a corresponding Thunderbird add-on `.xpi` file, named after the next minor release with an alpha suffix and a timestamp of creation
- save that file as artifact and push it to a dedicated CDN

I won't automate the creation of releases as I want to keep the release list clean from alpha releas

[2021-01-30 03:35] koobs commented on #156
Thanks @devmount Can we add a link to the 'per commit' (main) somewhere in the docs or repo README (or whever else is appropriate

[2021-01-30 04:53] devmount commented on #156
Already done that:

![image](https://user-images.githubusercontent.com/5441654/106347464-0a89a300-62bf-11eb-94b6-dd42b534ce86.png)

[2021-01-30 06:06] devmount opened #230 "Clean up the stats page"
**Is your feature request related to a problem? Please describe.**
The stats page is a bit messy. Only some charts are grouped in tabs, only some have a heading.

**Describe the solution you'd like**
Group similar charts and use the tab navigation for *every* chart type. Tab titles are the chart title and a tooltip shows the tab description.

**Describe alternatives you've considered**
Moving char

[2021-01-30 06:24] #230 closed

[2021-01-30 19:07] rfwolff opened #232 "Screen resolution: Email addresses cut off"
Depending on the screen resolution, graphs/ tables are ordered/displayed differently (presumably to fit the available space) thus causing long email addresses to be cut at different lenghts.

In all tested screen resolutions, rows 1 and 2 display the counts (mails total etc.) and the activity graphs (Y/Q/M/Q and activity in 2021), respectively.

1. 1680x1050 - Two more rows displayed. Third row: g

[2021-01-30 19:10] rfwolff opened #233 "Export of results"
It would be nice to enable exporting of results, e.g. as csv file.

[2021-01-30 19:12] rfwolff opened #234 "Combination of email addresses"
Results for "Most received from" and "Most sent to" could be skewed if one person uses more than email address.
If so, it would be nice if several addresses could be linked to one person, e.g. via the address book.

[2021-01-31 02:09] koobs opened #235 "Drop-down controls (week start, self messages) in Options do not expand"
**Describe the bug**
--

Drop-down controls ```week start``` and ```self-messages``` in ThirdStats -> Options -> Charts & Data do not "expand" (drop down) when clicked

**To Reproduce**
--
Steps to reproduce the behavior:
1. Open ```ThirdStats -> Options -> Charts & Data```
2. Click drop-down controls for ```Start the week on``` and ```Self-Messages``` Options

**Expected behavior**
--

Drop-down

[2021-01-31 02:26] koobs opened #236 "Toggling Dark Mode does not change theme in an open ThirdStats dashboard"
**Describe the bug**
--

When toggling ```dark mode``` (On or Off) while a ThirdStats dashboard tab is open, the theme for Options changes, but the theme in the open ThirdStats dashboard does not.

**To Reproduce**
--

Steps to reproduce the behavior:
1. Open ThirdStats Dashboard tab
2. Click `Options` in open dashbord tab
3. Toggle `Dark Mode` On or Off in `Appearance & Experience` section

**Exp

[2021-01-31 02:30] koobs commented on #236
Just noted the following at the bottom on the Options page:

[code]

If changing the theme in open tabs is a Thunderbird limitation, it may be worth adding these notes in ℹ️ style help markers on each relevent/affected option inline

[2021-01-31 02:36] koobs opened #237 "Add Reset Options option to Options"
**Is your feature request related to a problem? Please describe.**
--

As a user, it is difficult to remember what the default options of a program are, or what changes we have made. This can create problems when trying to identify or isolate issues in a local configuration, and make debugging/isolating for upstream (you) more challenging.

**Describe the solution you'd like**
--

Add a `Reset Opt

[2021-01-31 06:36] devmount commented on #232
Thank you for this detailed report 👏🏻

I already revamped the stats page layout with #231 (organizing all charts in tab groups) and now improved responsiveness even more with #238. That means:

- Resolution 1 should now show all characters as this is now a one column view
- Resolution 2 should now show a lot more characters too (I only tested up to 50 characters)
- Resolution 3 still shows around

[2021-01-31 06:37] #232 closed

[2021-01-31 06:49] devmount commented on #235
Thank you for testing ThirdStats on TBs daily build 👏🏻 This is a great help! I can confirm this issue even for TB 86.0.

[2021-01-31 06:54] devmount commented on #236
Thank you for reporting this. I didn't implement event listeners for option changes yet, but especially for the options in the 'Appearance & Experience' section this would totally make sense.

Awesome idea, will do this 👍🏻

[2021-01-31 06:59] devmount commented on #237
Totally with you. I think this option best fits under ''Storage & Cache'.

[2021-01-31 21:54] devmount commented on #100
After experimenting with a quick test implementation of this feature I've come to realize, that this doesn't add much value. Punctuation and stop words should be filtered, which is quite complex for different languages. And even then the list of words is not very meaningful.

So I decided to drop this feature request.

[2021-01-31 21:54] #100 closed

[2021-02-01 03:22] koobs commented on #235
@devmount ❤️

[2021-02-01 18:18] rfwolff opened #239 "Stats page: Discrepancies in numbers observed and reported by ThirdStats"
I noticed discrepancies in the number of emails given on the stats page of ThirdStats and the number reported by Thunderbird. This appears to affect both, an email account as well as local folders, please see below a comparison of numbers for a specified time period.

**Office365 account** (in Thunderbird | in ThirdStats)
- Total: 2224 vs. 2199
- Sent: 657 sent vs. 4
- Received: 1567 vs. 2195

**L

[2021-02-01 20:57] devmount commented on #128
Currently waiting for an answer to this problem to continue working on this feature:
https://thunderbird.topicbox.com/groups/addons/T4aef9dcece8deb48

[2021-02-03 05:12] devmount commented on #235
I did some additional testing and it looks like a TB issue. I placed [a corresponding post add Thunderbirds topicbox](https://thunderbird.topicbox.com/groups/addons/T73f12f5aa7afb6eb/no-drop-down-content-of-form-input-elements-is-shown-in-tb-86), let's hope somebody else is experiencing this too and has a solution.

[2021-02-03 07:11] koobs commented on #233
@rfwolff  Hi! Can ask for any insights on the motivation / use-case for this functionality? It might elucidate some additional features/behaviours for ThirdStats down the line.

 * Are you trying to take snapshots or see changes over time?
 * Are you looking for raw data in the export (csv) or just the aggregated/calculated values?
  * What fields are you interested in / should be in the csv?
  *

[2021-02-03 12:25] devmount commented on #235
It's confirmed that this is a TB issue and filed here: https://bugzilla.mozilla.org/show_bug.cgi?id=1690514

As a workaround, you can toggle the `browser.tabs.remote.autostart` preference and restart Thunderbird. Since this isn't ThirdStats related, I'll close this here.

[2021-02-03 12:25] #235 closed

[2021-02-03 17:11] #237 closed

[2021-02-04 19:21] DarkArc opened #242 "Not Processing Emails In Trash or Spam Folder"
**Describe the bug**
I wanted to process my Spam & Trash folders for my Gmail so that I could see where most of the emails I'm deleting are coming from. However, Thunderbird Stats shows no results for these folders.

**To Reproduce**
Steps to reproduce the behavior:
1. View stats for an account with emails in its Trash or Spam folders
2. Select the Trash folder filter

**Expected behavior**
The st

[2021-02-04 21:05] devmount commented on #242
Thank you for reporting this. You can try the following: Do a right click on the affected folder, click *Properties* and make sure that "include messages in global search result" is checked.

![image](https://user-images.githubusercontent.com/5441654/106953687-f61c2f00-6732-11eb-978b-07766f49d7c3.png)

Does this change anything for deleted messages?

ThirdStats is using TBs WebExtensions APIs to q

[2021-02-04 21:12] devmount commented on #239
Thank you for reporting this. The differences in total counts may be caused by folders that are not available for global search. You can try the following: Do a right click on every folder (e.g. Trash), click *Properties* and make sure that "include messages in global search result" is checked (it appears like WebExtension APIs can only process messages in folder that are allowed for global search

[2021-02-04 21:18] DarkArc commented on #242
Interestingly, don't have that checkbox

[2021-02-05 05:22] devmount commented on #242
Really? Well that's interesting indeed... I've tested this on Manjaro and the dialog is the same as on Windows. Can you share a screenshot of your folder properties dialog?

[2021-02-05 17:50] DarkArc commented on #242
![Folder Properties](https://user-images.githubusercontent.com/778012/107069975-ada35680-67b0-11eb-9121-39c464a8124a.png)
Yup

[2021-02-05 21:05] devmount commented on #152
This was now implemented with #243 and will soon be released with the next version. I decided to implement a comparison mode for those charts only, where it actually makes sense. This mode can be activated on the top right of the corresponding chart area:

![third-stats_comparison_mode](https://user-images.githubusercontent.com/5441654/107087603-f7655e80-67fb-11eb-82d1-15af9fbf8b96.gif)

In additi

[2021-02-05 21:05] #152 closed

[2021-02-07 08:40] rfwolff commented on #239
Thanks for looking into this.

I have checked this now. Apart from the "deleted" and "junk" folders, all folders had the option "Include messages in this folder in Global Search results" ticked.

When I selected that option for the "deleted" and "junk" folders (which are usually empty or nearly empty), the numbers did not change.

[2021-02-09 01:27] koobs opened #248 "Display (in progress) mail counts while processing"
Is your feature request related to a problem? Please describe.
--

During processing (initial run, on refresh, after clearing cache), all mail metrics/counts remain 0 until processing is complete (see screenshot below). Live (processing) counts would provide some entertainment value to the user while they wait, and may also prevent confusion ("why are the counts zero??"), if they don't notice the

[2021-02-09 05:01] devmount commented on #248
Thank you for this feature request. This was already implemented in earlier versions of ThirdStats, but I decided against it since the accumulation of the numbers wasn't very smooth due to Thunderbirds single-process nature.

As soon as Thunderbird becomes multi-process (which it does from version 86 if I remember correctly), processing will be completely happen automatically in a background progr

[2021-02-09 05:51] koobs commented on #248
@devmount Not that I'm running Daily (which has e10s enabled), and it recently landed in Beta too [1]

If you want to gate the code around those versions (maybe just starting with daily), we might be able to get ahead of the release curve (picking up any other multiprocess issues in the meantime). I'm going to be staying on Daily and can test for you.

[1] http://forums.mozillazine.org/viewtopic.p

[2021-02-09 05:55] devmount commented on #242
Ok, for the deleted messages: Please reach out to the Thunderbird support and get to know, why the global search option and if it's possible to activate global search for folders e.g. directly in the TB config.
For the spam/junk messages: [I asked this](https://thunderbird.topicbox.com/groups/addons/T4aef9dcece8deb48/how-to-query-messages-with-junk-information) in TBs topicbox and it seems like a

[2021-02-09 05:56] koobs commented on #235
Confirmed working in latest Daily

[2021-02-09 06:00] devmount commented on #248
Thank you for these information, and thanks a lot for testing ThirdStats on the daily build - this is a great help 👏🏻
Ah yes, I'm already CCd to this bug 😅

[2021-02-09 06:09] devmount commented on #233
@rfwolff A simple way to implement this would be to just provide the processed data as JSON file to download. If you need a CSV file I would love to hear your opinion on @koobs's [questions](https://github.com/devmount/third-stats/issues/233#issuecomment-772289350), especially what structure (columns) this CSV file should have.

[2021-02-09 06:11] devmount commented on #248
@koobs Btw, you can hover over the thin blue progress bar to see a percentage - at least 😉

[2021-02-09 06:51] koobs commented on #248
@devmount Happy to test any time if you want to produce an xpi out of a e10s-test branch or something (P.S I wish this cannot update extension TB bug would go away)

[2021-02-09 13:03] ramonrrp commented on #233
I guess i'll be a useful feature to use data in other purposes.

I'm controlling two or three mail groups in my company, and a feature to export data generated from the app would help my weekly and monthly reports

[2021-02-10 00:50] koobs commented on #233
@ramonrrp What questions would be handy for a data export to answer?

 * Recipients / Senders by mail count?
 * Total number of messages per week / month?
 * ...

[2021-02-11 00:14] bachmannn opened #249 "Questions about privacy and security"
1. Is the extension fully contained or does it request any data like (js packages) from third-party CDN servers?
2. Is it snowden-level privacy friendly or does it collect and sell your data?
3. What exactly are all the permissions used for.
4. Does it run as a web server with an open port which would expose it to vulnerabilities

[2021-02-11 05:12] devmount commented on #249
Thank you for these awesome questions.

1. The extension is fully contained. All [dependencies](https://github.com/devmount/third-stats/network/dependencies) are retrieved and minified on build. No CDN is contacted during installation or runtime or ever on your side. You can verify that by opening the network tab in the dev tools and browsing ThirdStats.
2. What exactly is the definition of snowde

[2021-02-12 22:29] bachmannn commented on #249
It only stores data locally, does not upload it to any server correct?

🚀 probably one of the best looking Thunderbird extensions in whole entire add-on store 🚀

[2021-02-13 04:50] devmount commented on #249
💯 correct! It's Thunderbirds local storage that's reserved for extensions.

So glad you like it so much 😊 Mind [giving ThirdStats a review](https://addons.thunderbird.net/en-US/thunderbird/addon/thirdstats/#reviews) on ATN? Only if you like, don't feel pushed or something.

Thanks again for your security concerns!

[2021-02-13 04:51] #249 closed

[2021-02-14 05:09] devmount commented on #228
This is now implemented and will be part of the next release.

Sneak Peek:
![image](https://user-images.githubusercontent.com/5441654/107869001-b9b2a680-6e89-11eb-8db0-1578284fc85f.png)

[2021-02-14 05:09] #228 closed

[2021-02-14 06:01] devmount commented on #239
I see. ThirdStats first looks for the sender, so if any of the configured identities matches the emails author, that ThirdStats handles this email as 'sent', doesn't matter if this identity is also a recipient or not.

It may be caused by a contact format "<name, prename> email@address.org" vs "email@address.org". I currently implemented the extraction of email addresses myself, so there's a chanc

[2021-02-14 12:22] rfwolff commented on #239
Thanks for looking into this.

It might be related to the contact format issue your describe, i.e. it would be good if this would sort this issue. Happy to report back once the change has been made.

I double-checked and can confirm that emails being flagged as spam should _not_ be causing the issue, i.e. out of several thousand emails there were six that were marked as junk.

[2021-02-14 12:30] rfwolff commented on #233
@koobs - Apologies for the late response.

Regarding your questions:
- I was thinking of snapshots. However, I do end of year/ end of quarter reviews with data being collated in an Excel sheet. Potentially, this could be replaced by a ThirdStats output that would cover changes over time.
- Currently, I am using the aggregated/calculated values. While not a priority, I could see the use of looking

[2021-02-14 14:01] ramonrrp commented on #233
Maybe a kind of export of the raw data, to contribute in another analysiss apps, like powerBI and excel
Other point is the possibility to export the graphs the way they are shown (i think they are really beautiful) with day/week/month and per user/group filters in a .png extension, for example.

[2021-02-16 06:19] devmount commented on #233
Just to clarify: "raw data" would simply mean a list of all email headers - that's what ThirdStats is processing. This would be a table like this:

| author | date | folder | account | read | recipients | ccList | bccList |
|--------|------|--------|---------|------|------------|--------|---------|
|        |      |        |         |      |            |        |         |
|        |      |

[2021-02-16 11:43] Eagle3386 commented on #188
@devmount you've probably missed that notification, so may I ask if above's proposal is sufficient for implementation or if I can be of any help towards getting this (IMHO) improvement done? :)

[2021-02-16 15:21] devmount commented on #188
Thank you for the kind reminder 😅

Always a pleasure to read those comments of yours, making me smile everytime 😂

As much as I like your approach, not being able to see at first glance how to reset the filter decreases usability and unifying the two buttons into one makes things more complicated than adding value (IMHO).

I imagine a reset button that's the same for every filter field (currently

[2021-02-16 16:04] devmount commented on #239
I wasn't able to find the cause of this issue on my end. However, I created a debug version of ThirdStats for you. Please install the following ThirdStats add-on (rename the file extension from .zip to .xpi first):
[third-stats_v1.5.0-alpha-sent-received-recognition.zip](https://github.com/devmount/third-stats/files/5989889/third-stats_v1.5.0-alpha-sent-received-recognition.zip)

Open the console

[2021-02-16 20:41] rfwolff commented on #239
@devmount - Many thanks for this. I will run this and aim to get back to you at the weekend.

[2021-02-17 20:15] devmount commented on #236
This is now implemented and will be part of the next release. FYI: Changes of *Dark mode*, *Vertical axis*, *Start of Week* and the account colors are directly applied. All other options need a window or cache refresh. Options now have a hint symbol with a tooltip that indicates, whether the stats page or the cache has do be reloaded after changing the options value.

[2021-02-17 20:15] #236 closed

[2021-02-17 20:52] rfwolff commented on #239
@devmount - I now had a chance to run the debug version which you kindly provided.

It looks as if this gave some idea on how to resolve the issue, at least for the local folders but not for the Office365 account. Briefly, I suspect it due to capitalisation of email addresses.

As described earlier, the total number of emails counted was correct but, according to the ThirdStats output, I hardly ev

[2021-02-18 04:58] devmount commented on #239
Thank you for these detailed insights.

This was the hint I needed. When creating the "most contacted" charts, all email addresses are converted to lowercase to prevent duplicate output. However, I don't lowercased identities itself, so that's what I'm going to improve now. 👍🏻

Just to be sure again: Your O365 account only has the default identity configured in Thunderbird? What das Debug-ThirdSta

[2021-02-18 12:53] devmount commented on #233
JSON export is now implemented with #255. If you need any further export formats, create a new feature request providing a detailed description of the data structure and format, that's needed.

[2021-02-18 12:53] #233 closed

[2021-02-18 13:07] Eagle3386 commented on #188
My pleasure. As always. 😎🥳

Again: my pleasure. Honestly! 🤜🏻

While I do agree with the former part of that paragraph, I refuse to accept the latter.
I love the 1 button target here & while I insist on not being stubborn, I still find the 2 button solution, well, "visually ugly" - with all respect due to the awesome UI & its effects that can be noticed everywhere else while using your extension.
S

[2021-02-18 14:00] devmount commented on #188
I agree, I don't like the 2 button solution either, but it's clear. And especially on form elements, I have to prefer clear over pretty (since the latter is always a matter of taste too...)

Of course! I'm looking forward to your ideas! This really helps a lot 💪🏻

I totally see your point here, and while I agree with your example, we're talking about filter fields only - not about a filter field a

[2021-02-18 17:05] rfwolff commented on #239
Great, I am glad that was helpful.

Regarding O365, the problem looks very similar, i.e. the identity was defined as "robert@..." but according to the console, emails sent from that identity were handled as "Robert@..."

To confirm that this indeed caused the issue, I added "Robert@..." as an additional identity for the O365 account and get these numbers which are pretty much in line with my earli

[2021-02-18 17:12] devmount commented on #239
Ok, taking the minor causes into account (junk and deleted mails), this issue should be fixed now with #254. It's part of v1.5.0 which I will release soon. If you observe large discrepancies again, feel free to open this or a new issue again.

[2021-02-18 17:12] #239 closed

[2021-02-19 05:37] devmount commented on #164
I decided to keep support for TB 78 as long as possible. An empty background page doesn't do any harm, so I'll just keep it and maybe use it in future versions for background processing of the stats.

[2021-02-19 05:37] #164 closed

[2021-02-20 07:06] ovari opened #259 "ThirdStats public statistics"
Hi Andreas,

Can you please enable the ThirdStats' statistics to be public?

https://addons.thunderbird.net/en-US/thunderbird/addon/thirdstats/statistics/

What do you think?

Thank you

Óvári

P.S. Our email might be in your Spam/Junk folder

[2021-02-20 07:28] ovari opened #260 "Right-click showing inappropriate menu items"
**Describe the bug**
Right-click on the display shows a context menu with options that are not appropriate. Seems to be from other add-ons, such as [ImportExportTools NG](https://addons.thunderbird.net/thunderbird/addon/importexporttools-ng/) by @cleidigh and [Simple Mail Redirection](https://addons.thunderbird.net/thunderbird/addon/simple-mail-redirection/) by Günter Gersdorf.

Aside: strange tha

[2021-02-20 11:38] devmount commented on #259
Hi Óvári,
what do you need these statistics for?

[2021-02-20 11:54] devmount commented on #260
Hi Óvári,

thank you for reporting this. This is the general context menu of Thunderbird, so of course it's showing menu entries of installed add-ons who added their own. I won't disable the context menu, as the refresh button comes in handy sometimes.

There is clearly something wrong in this screenshot of yours - it doesn't even show the stats numbers at all. If the processing doesn't work as ex

[2021-02-20 20:59] ovari commented on #259
It would be nice to see how having a Hungarian translation improves the uptake of your add-on among Hungarians.

Please advise if there a reason to not make the statistics public.

Thank you

[2021-02-21 08:25] koobs commented on #233
@devmount How trivial would a "right-click" context menu item for graphs be to "Save" them, rather than a full blown or separate "export function" ?

[2021-02-21 08:26] koobs commented on #236
❤️

[2021-02-21 09:29] devmount commented on #233
The ThirdStats charts are created using Chart.js, which draws the charts to an HTML canvas. I guess the most easy way would be to just convert this canvas to a data url, encode it and use it as image source. I'm not sure it works that easy but if you need this, create a feature request and I'll see what I can do.

[2021-02-21 12:48] devmount commented on #193
This is now implemented with #262. Please test it and let me know, if there are any issues. Have a nice sunday!

[2021-02-21 12:48] #193 closed

[2021-02-22 06:09] devmount commented on #259
No there is no reason to not make the stats public, I just was curious about how you want to use them.

I made the stats publicly viewable now 📈 You can find them here:
https://addons.thunderbird.net/thunderbird/addon/thirdstats/statistics/usage/

For reference: https://twitter.com/devmount/status/1363731294027472897

Thanks again for translating ThirdStats into the Hungarian language 👏🏻

[2021-02-22 06:09] #259 closed

[2021-02-22 06:12] #260 closed

[2021-02-22 07:10] ovari commented on #260
@cleidigh can you please fix the ImportExportTools NG add-on? Thank you

[2021-02-22 07:45] cleidigh commented on #260
I could use some more information, but I'm not seeing what the issue is?

[2021-02-22 10:27] ovari commented on #260
1. Install [ThirdStats](https://addons.thunderbird.net/thunderbird/addon/thirdstats/)
2. Open ThirdStats tab
3. Right-click and items from [ImportExportTools NG](https://addons.thunderbird.net/thunderbird/addon/importexporttools-ng/) show in the ThirdStats tab, when they should not.

@cleidigh do you see what this issue is?

Thank you

[2021-02-22 10:43] devmount commented on #260
As I already said: This is the general context menu of Thunderbird. I don't think @cleidigh can and will do something against these menu entries showing up in context of other extensions.

Personally I don't see an issue here, as you can simply ignore these entries or don't use the context menu in ThirdStats at all. 🤷🏻

[2021-02-22 17:44] nkgm-bs commented on #260
When add-on developers add an item to context menus they can define where their item should be shown. Unfortunately the set of options is predefined and very limited, so in my case (Simple Mail Redirection) i have to use some kind of 'show everywhere'.

[2021-02-23 00:20] cleidigh commented on #260
@ovari
after reading all of the new comments I think I now understand.
@devmount  's looks like it provides access to the main Thunderbird message context Menu
on its custom statistics. page.  (@devmount please correct me if I'm wrong)   while his
extension adds items, so does import export toolsNG along with others.  none of our extensions attempt to modify other extensions menu additions. as oth

[2021-02-23 05:40] devmount commented on #260
@cleidigh agreed.

[2021-02-23 05:46] ovari commented on #260
Does a bug report need to be opened for Thunderbird core so that add-on can be more specific where they can add context menus, instead of  'show everywhere'?

[2021-02-23 05:50] devmount commented on #260
You are very welcome to do that 👍🏻

[2021-02-23 07:40] nkgm-bs commented on #260
See
https://thunderbird.topicbox.com/groups/addons/T4fcfd415a3dba933/how-to-restrict-menu-items-to-message-display
and
https://bugzilla.mozilla.org/show_bug.cgi?id=1628087

[2021-02-23 19:18] devmount opened #267 "No weeks when date range starts or ends on first days of a year"
**Describe the bug**
When a date range is chosen, where start or end are in the new year but still belong to calendar week 52/53 of the last year, then the weeks chart disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stats page
2. Enter a date range as described above
3. Open the _weeks_ tab in the total overview and see that there is no chart

**Expected behavior**
The week

[2021-02-24 23:58] koobs opened #268 "Review and document ThirdStats Thunderbird permission requirements"
**Is your feature request related to a problem? Please describe.**

Privacy is important. Third-party extensions (code) running in a user context with important and sensitive data available (such as emails, which may include other sensitive information, such as passwords and PPI), should use principles of least privilege, and in the context of ThirdStats and Thunderbird, only use permissions that

[2021-02-25 20:38] #267 closed

[2021-02-27 13:05] devmount commented on #268
Thank you so much, @koobs for this detailed well-written security and documentation enhancement request 👏🏻

This is what ThirdStats always aimed to do. Unfortunately, the permissions API of Thunderbird is poor, there are no fine-grained permissions or mechanisms to activate permissions per-feature 😞

This was such a valuable hint, the `tabs` permission was actually not needed to open tabs (which I

[2021-02-27 13:05] #268 closed

[2021-02-28 23:48] koobs commented on #268
I'd explicitly document this, so to users its clear we're always trying to minimise scope where possible. Something like "ThirdStats will always seek to minimise use of permissions where possible, and use granular permissions where available. Thunderbirds Permissions API is currently limited ..."

🥳

I dont have Mozilla/etc accounts for submitting these at present, but may consider it if I happen

[2021-03-01 09:29] devmount commented on #268
Great point! I added this 👍🏻 (also, since I'm no English native, it's such a great help that you even provide a possible formulation 😍)

Afaik yes - though I'm not sure if this is also for feature requests. Thank you for anything that triggers an improvement to the permissions API! 👏🏻

My pleasure 😊

[2021-03-02 01:56] koobs opened #272 "Improve several options default values [UX]"
**Is your feature request related to a problem? Please describe.**

Users have diverse and unique preferences, and it is impossible for software authors to prescribe a single set of software configuration values that will satisfy everyone. Accordingly, it is important for software *default* values to be set according to other, not subject to subjective variability, principles.

At present, there a

[2021-03-02 02:13] koobs opened #273 "Dont display clear selection (X) icon unless there is a value in the related control [UX][UI]"
**Describe the issue**

The stats dashboard currently **always** displays `Clear selection` button/icon (see screenshot)

** Proposal **

Only show 'clear selection' button/icon **when/as there is a value entered** in the related input control.

** Rationale **

 * `Clear selection` is redundant and unnecessary without a value present in the related control.
 * Enabling/Displaying 'clear selection

[2021-03-02 10:26] devmount commented on #273
Thank you for suggesting this, I totally agree that the reset buttons should only display when a value is set.

What do you think about removing the reset buttons for the select fields (folder, contact) completely and providing a corresponding select option on top ("All folders", "All contacts"), as it is currently implemented for the account selections ("All accounts")? This would make the UI muc

[2021-03-02 11:12] Eagle3386 commented on #273
@devmount Since single buttons are awesome (SCNR.. 😏), I'm absolutely voting to do the removal of those reset buttons in favor of another `All items` option for each `select` - 1 single point of access for each action. Yeah, let's abbreviate that from now on with SPOC as Leonard Nimoy would surely love the nerd hint/joke, too.. 😄

[2021-03-02 11:43] Eagle3386 commented on #188
While reading your mentioning in #273, I came up with yet another idea.. 😅

Well, here's my next SPOC attempt:
- minimum & maximum date input offer a picker, but allow for quick `YYYY-MM-DD` input (yes, I do remember your desire for fast key typing 😏)
- initial states are always earliest/latest mail, hence `Apply`/`Reset` unavailable
- entering/selecting an earliest date waits for input of a lates

[2021-03-02 23:20] koobs commented on #273
I can't see any `All foos` options for `Account` or `Contact` in the dashboard (88.0a1 (2021-03-01) (64-bit)). Can you screenshot what I'm supposed to see?

[2021-03-02 23:32] koobs commented on #273
Thoughts:

`All foos` is implicit (implies no filter by inclusion), versus `Clear selection` which is explicit (by ommission/exclusion: if the icon is shown, the view is filtered, with the control value being what the view is filtered 'by')

`All foos` overloads use of 'selection' in a drop-down control, where all other values *filter*, but this value *doesn't*. Compare this with the clarity of 'U

[2021-03-03 05:28] devmount commented on #273
OF course. The `All accounts` option only appears, if more than one account is activated in the add-options:

![image](https://user-images.githubusercontent.com/5441654/109756964-2c8d8280-7be9-11eb-91f2-21adc5586621.png)

It provides the sum of all account stats (since v1.2.0) and a comparison view (since v1.4.0).

[2021-03-03 06:11] devmount commented on #273
Thank you for your thoughts on this @koobs!

I agree with this - a _clear selection_ button does explicitly show **that** something is filtered and **how** to cancel filtering.

I see your point. Though at the same time it's depending on the drop-down being strictly seen as a filter or as list of possible actions.

Agreed again. In the end UI is always a compromise between comfort and cleanliness.

[2021-03-04 00:21] koobs commented on #273
That actually surprised [1] and wasn't obvious to me. The 'all accounts' value being _conditionally_ present based on the configuration of a different and separate option value elsewhere in the UI is not intuitive or easily deduced.

I believe it also supports my previous case that 'All accounts' doesn't really belong in the same place as values for 'account' as a filtering mechanism.

[1] See Als

[2021-03-04 00:28] koobs commented on #273
Sure, but the specific issue is that values of the same control behave 'differently', and in this particular case 'in an opposite' manner to other values.

[2021-03-04 06:53] Eagle3386 commented on #273
Nope, you're still either not getting @devmount's point or still getting it wrong.
Each option "behaves" different as it filters differently - for a specific account or for all accounts together. The function remains the same.

While I do like POLA (BTW, thanks for mentioning it), I strongly suggest having `All accounts` visible all the time. Being both, the default selection _and_ selectable as s

[2021-03-04 07:54] koobs commented on #273
I'll bow out.

[2021-03-04 09:34] devmount opened #275 "Make 'All Accounts' feature more aware"
**Is your feature request related to a problem? Please describe.**
The select option for 'All accounts' can easily be overseen if only using one activated account.
![All accounts select option](https://user-images.githubusercontent.com/5441654/109756964-2c8d8280-7be9-11eb-91f2-21adc5586621.png)

**Describe the solution you'd like**
Add a note to the accounts option on the options page that multipl

[2021-03-04 09:50] devmount commented on #273
I would like to remind everyone to communicate in a respectful manner. Thanks for keeping this repo a welcoming experience for all of us 🙏🏻

Thank you for pointing this out 👏🏻 I implemented it with the intention of not bothering those who only use one account anyway with a feature that's not applicable. But you're right, that's far too easily overlooked. I'll definitely put a hint at the accounts

[2021-03-04 09:56] devmount opened #276 "Make 'Compare Accounts' feature more aware"
**Is your feature request related to a problem? Please describe.**
The 'Compare accounts' button is currently only visible if the 'All accounts' option is selected.
![image](https://user-images.githubusercontent.com/5441654/109946091-25916d80-7cd8-11eb-9689-d0ecce55533a.png)

**Describe the solution you'd like**
Always show that button but disable it for single account selections.

**Describe alte

[2021-03-04 10:37] devmount commented on #272
Thank you for this detailed description again 👏🏻

Agreed. When implementing the theming I checked the possibility to get the theme scheme, but unfortunately [it was not possible](https://thunderbird.topicbox.com/groups/addons/Tcbce37425677928e-Mfef95e3f5102cdfafb5c3110).

Agreed.

Agreed. I'll see if I can retrieve the first weekday preference from a locale.

I assumed the default configuration fo

[2021-03-05 11:18] Eagle3386 commented on #273
Seems to me like my phrase, `Nope, you're still either not getting @devmount's point or still getting it wrong.`, might be misunderstood, i. e. sounded harsh while not even meant to be. If so, I'd like to apologize for that as it wasn't even meant to sound disrespectful in any way. That's especially meant for @koobs.

Though, I'd like to point out as well that many people feel "attacked" _way_ eas

[2021-03-05 12:05] koobs commented on #273
tldr: be a catalyst. [1]

I've been in OpenSource a long time and accordingly have grown quite a thick skin. I bowed out to avoid escalation, to the extent that it might have been possible.

Something I try to do in productive discourse focusing on "issues" and not people is to practice avoiding the use of "you" and "your". Small words they may seem, but a big difference it has made.

All of the q

[2021-03-05 13:05] Eagle3386 commented on #273
@koobs
tl;dr: Thanks for everything.

Fully agree with every aspect of it.
Nonetheless, wanted to explicitly thank _**you**_, not only the _very_ valuable recommendations towards using "you", but also for the - obviously - way better understanding of productive discourse than I could at the time. Again, thanks for helping to improve.

[2021-03-09 16:52] squalof opened #277 "Total email storage space and filter for email storage sizes"
Ciao,

prima di tutto complimenti per aver sviluppato queta estensione "thirdstats"perchè è davvero molto utile.

Ti chiedo gentilmente, se puoi con un aggiornamento inserire la possibilità di visualizzare il peso totale delle email sia ricevute che inviate inserendo anche la possibilità di impostare il limite massimo di archiviazione delle email del proprio account di posta elettronica, grazie.

[2021-03-10 01:11] koobs commented on #277
Translation:

[code]

[2021-03-10 07:40] devmount commented on #277
`EN`

@koobs Thank you for the translation service. 👏🏻

@squalof Thank you for these feature ideas! 👍🏻

What do you mean exactly? The sum of the storage size of each email? Unfortunately it's currently not possible to retrieve this kind of information via WebExtension APIs. See #213

Do you mean an additional filter for storage sizes? As soon as #213 is possible, such a filter can be implemented.

[2021-03-14 01:47] koobs opened #279 "Customisable dashboard layout/sections"
## Is your feature request related to a problem? Please describe.

Users value and prioritize different pieces of information in different ways, which can also change over time. Distributed software cannot predict or know these subjective values/priorities, but it can provide generic abilities such that users can specify them

The ability tweak or otherwise customise an application allows users to

[2021-03-14 17:57] Valeryan24 opened #280 "Some mails / folders are not correctly count: mailing-lists, X-bcc, Indetities management"
Hi, first thanks a lot for this great and complete addon, compatible with Thunderbird 78 !

**Describe the bug**
Third-Stats doesn't count emails (received or sent) in some cases or folders / identities.

**To Reproduce**
- Folders with only mails from mailing-list, where our address doesn't appear in "To" nor "Cc" field, but is in X-bcc : it tells me 0 mail (empty)
- Folders with emails not sent

[2021-03-16 12:04] devmount commented on #279
This is a great feature. I'll check how this can be realized without revamping the whole UI 😅

[2021-03-19 08:31] devmount commented on #280
Hi Xavier,

thank you for this detailed report. Some more details are needed here to solve your problems.

The ThirdStats logic is: If the author of an email matches any configured identity (either in Thunderbird or for local accounts in the add-on options) it is recognized as "sent", otherwise as "received". If no email is recognized at all, there seems to be another issue, probably with the fold

[2021-03-24 15:38] paulmassen opened #282 "Virtual Folder breaks ThirdStats"
Hi,

I'm an user of the thunderbird feature called "Virtual Folder" (aka "search folder), which is created by File->New->Virtual Folder.

Having one of these folders breaks Third Stats (stuck on chart generation, email count = 0 etc.)

Removing the virtual folder will resolve the problem.

Hope it helps, and please let me know would you need any more details.

All best,

Paul

[2021-03-24 15:47] devmount commented on #282
Thank you for reporting this.

Which Thunderbird version do you use on which OS (please always use and fill in the issue template when creating issues 🙏🏻)? I don't have a "Virtual Folder" menu entry, did you mean "Saved Search"?

![image](https://user-images.githubusercontent.com/5441654/112339425-ec895f00-8cbf-11eb-8095-f407c8ffb4b4.png)

It might be related to #19 (in that case it would be fixed

[2021-03-24 15:59] paulmassen commented on #282
Sorry for the template, and yes, I meant "search folder" (virtual folder in french !) , after reading more into the other issues, I re-created the folder again, and am now still able to use Third Stats.

While I had this problem, I was able to catch this error in the console, which lead me to think that the search folder could be the problem.

`Uncaught (in promise) Error: Folder not found: /INBOX

[2021-03-24 19:16] devmount commented on #282
I don't think there is anything more to do on my end, You can close this. The "folder not found" issue is very likely caused by Thunderbird itself, I'm afraid you'll have to wait until the next major release.

[2021-03-25 10:39] paulmassen commented on #282
Thanks, yes, I'm closing this and I will let you know if someday the issue re-appear.

[2021-03-25 10:39] #282 closed

[2021-03-26 15:38] devmount commented on #128
According to [the answer in the proposed thread](https://thunderbird.topicbox.com/groups/addons/T4aef9dcece8deb48), I converted message querying from `query()` to `list()` and was now able to implement #284 with some basic metrics. As soon as the junkScore issue is solved as well, additional charts may follow. But this is closed for now.

[2021-03-26 15:38] #128 closed

[2021-03-26 19:10] #276 closed

[2021-03-27 12:40] devmount opened #287 "Wording: Self Messages"
Change request created from #258:

Change `Self Message` to `Message to Self`
Change `Self Messages` to `Messages to Self`

[2021-03-27 12:41] #275 closed

[2021-03-27 13:52] #287 closed

[2021-03-27 20:16] behinger opened #289 "Emails >KW47 2020 not detected"
**Describe the bug**
Maybe I missed a setting somewhere?! But emails later than KW47 2020 are somehow not included (even though plenty exist ;-)).
The bug likely occurs already in KW46 because there are much fewer emails there, as are expected.

**To Reproduce**
Simply select any of my email accounts, press the "refresh". This doesnt show anything for three accounts with ~2000 & 5000 50.000 emails

[2021-03-28 20:05] devmount commented on #289
Hi Benedikt,
thanks for reporting this, it's indeed strange. It seems like ThirdStats stops processing emails on a specific date. Are there any error messages in the console (main menu > add-ons > gear > debug add-ons > scroll to ThirdStats > Inspect)?

Can you run the following snippet in the console and see, if there are any error messages? This counts all messages of all folders of all accounts

[2021-03-29 11:52] behinger commented on #289
Thanks!

This piece of code returns:

I am guessing this is 93800 emails. But the dashboard stillshows only 54600

[2021-03-29 11:53] devmount commented on #289
Thank you. Can you share an actual screenshot?

[2021-03-29 12:52] behinger commented on #289
![grafik](https://user-images.githubusercontent.com/10183650/112839311-55951c00-909e-11eb-8b17-0f3207d7d5e0.png)

[2021-03-29 13:30] devmount commented on #289
It's 93801 emails as the sum of all your TB accounts. Good thing is, the message retrieval seems to work on your end. This may be trivial, but did you filter anything (folder, date range, contacts)? What happens, if you select "All accounts" (Alle Konten)?

![image](https://user-images.githubusercontent.com/5441654/112844007-89267500-90a3-11eb-8328-cf88877fd58c.png)

No, they are TB 78 related.

[2021-03-29 14:14] #272 closed

[2021-03-30 20:47] ovari opened #294 "Please add untranslated en source strings to the hu file."
Please add untranslated en source strings to the hu file.

For example, `Contact`, `Mails unread`, `Junk mails`, `Junk score of`, `ThirdStats makes no claim to the correctness of the data displayed.`, `In case of possible problems, please create a bug report.`

![image](https://user-images.githubusercontent.com/17465872/113054125-c8181000-91f4-11eb-8454-94eb18b18c7a.png)

We translate the file usi

[2021-03-30 21:01] ovari opened #295 "hu translations of strings beginning with a number all in lowercase"
Can the hu translations of strings beginning with a number please be all in lowercase, i.e. `{0} fiók`, `{0} mappa` and `{0} üzenet`?

![image](https://user-images.githubusercontent.com/17465872/113055774-b6376c80-91f6-11eb-8289-e176e1828906.png)

The translations seem to be from: https://github.com/devmount/third-stats/blob/master/public/_locales/hu/messages.json#L78-L82

However, `Fiók` and `Map

[2021-03-30 21:16] devmount commented on #295
Thank you for reporting this. I totally agree, I'll improve the lang files to use separate keys for the locations you mentioned.

[2021-03-31 07:07] ovari commented on #294
Thank you for the detailed instructions.

Should be at 100% now.

Thank you once again.

[2021-03-31 07:07] #294 closed

[2021-03-31 07:13] ovari commented on #295
You might also like to use [Localization and Plurals](https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals).

There is no difference in Hungarian when there is a number before the object; however in English it is:
* `1 account`, `2 accounts`
* `1 folder`, `2 folders`
* `1 message`, `2 messages`

Other languages have different plural forms so you add-on can also be

[2021-03-31 08:49] ovari commented on #295
Can you please program it just like [Localization and Plurals](https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_and_Plurals)? The Hungarian rules are just like that. Sorry, creating a pull request to do that is out of our scope as we only translating in the browser, there is no copy on our computer of your add-on.

Plural rule #1 (2 forms) is the form used by English and

[2021-03-31 14:55] devmount commented on #295
I see, so there is no need for an additional pluralizationRules object for Hungarian, since it works with the English one. Once I corrected the keys, you can provide the correct plural form. I let you know, when it's done.

[2021-04-06 21:33] devmount commented on #295
It's implemented now. I already corrected the Hungarian translation to lowercase.

[2021-04-06 21:33] #295 closed

[2021-04-14 11:57] konrad79 opened #298 "Slow/endless analyzing of mails"
The performance of the stat extension seems to be endless slow.
Is there any type of progress view? The extension runs for hours now on the account "Local Folders" with about 50.000 mails in it.
And is this process only performed once over the full data and after that only the new / added mails are analyzed?

[2021-04-14 12:06] devmount commented on #298
Hi there,

with 50k mails processing should be completed in 30s. Seems like you are one of those affected by #19 - please try the steps described in https://github.com/devmount/third-stats/issues/19#issuecomment-732659173 and the follow up posts. If you get the same error messages ("folder not found") you'll have to wait for the next Thunderbird major release, I'm afraid.
Also make sure, that your

[2021-04-14 12:18] konrad79 commented on #298
Thanks @devmount  - there are 1130 folders listed in the debug console - this seems to be ok.
Are there other forbidden special characters than @ and + ? What about Umlauts like "ä" or "ü" or something like "_"

[2021-04-14 12:33] devmount commented on #298
What about the follow up check for the overall emails count described in https://github.com/devmount/third-stats/issues/19#issuecomment-732847917?

[code]

Not that I know of, umlauts and underscore are working fine on my end.

[2021-04-14 12:47] konrad79 commented on #298
The last command throws 3 times the same Error:
`"Component returned failure code: 0x80550005 [nsIMsgFolder.messages]"  nsresult: "0x80550005 (<unknown>)"  location: "JS frame :: chrome://messenger/content/parent/ext-messages.js :: list :: line 193"  data: no]
"Component returned failure code: 0x80520006 (NS_ERROR_FILE_TARGET_DOES_NOT_EXIST) [nsIMsgFolder.messages]"  nsresult: "0x80520006 (NS_ERRO

[2021-04-14 12:59] devmount commented on #298
Interesting. Which Thunderbird Version? Which OS?

[2021-04-14 15:22] konrad79 commented on #298
Thunderbird: 78.9.1 (32bit)
Windows: 10 Build 19041

[2021-04-15 08:26] devmount commented on #298
Ok, the error happens outside of the scope of this add-on, so I'm afraid I cannot fix it on my end. You can either create a bug report on [bugzilla](https://bugzilla.mozilla.org) or wait for the next major release of Thunderbird and give ThirdStats a second try then (which will be on 2021-07-27 according to the [release calendar](https://wiki.mozilla.org/Release_Management/Calendar)).

[2021-04-15 08:26] #298 closed

[2021-04-25 18:29] devmount commented on #280
@Valeryan24 Do you need anything more? Otherwise I'll close this.

[2021-04-25 18:32] devmount commented on #289
@behinger Any news on this? Did you try the account filter? Let me know if you need any further help, otherwise I'll close this.

[2021-04-25 18:36] devmount commented on #277
`EN`

@squalof If you'd like to answer the questions above and give more details for your feature request, feel free to reopen this issue.

---

`IT`

@squalof Se vuoi rispondere alle domande di cui sopra e dare più dettagli per la tua richiesta di funzionalità, sentiti libero di riaprire questo problema.

[2021-04-25 18:36] #277 closed

[2021-04-25 18:43] devmount commented on #242
Since the last release 1.6.0 of ThirdStats, it's now possible to query the junk and trash folders too. I reimplemented the message retrieval to avoid the Thunderbird issue. Can you confirm that it's working now?

[2021-04-25 18:51] devmount commented on #135
Hey there, I hope everyone's fine! 🙏🏻

Since we are on ThirdStats v1.6.0 for a while now, I just wanted to set a quick reminder to check for missing translations of your language on https://gitlocalize.com/repo/5505 ✅
Thank you for every little contribution and making ThirdStats more accessible around the world 👏🏻

[2021-04-25 20:08] di3goCS commented on #135
Haha, new portuguese translate it's done!

[2021-04-26 00:36] kswartz26 opened #302 "Data collection stuck at 91.3%"
I am using version 1.6.0 of the addon in Thunderbird 78.10.0, with an account that has somewhere in the vicinity of 200,000 messages. I have yet to see the reports - every time I try to start it up, the data collection gets stuck at 91.3% complete, with the CPU still running high.

Below is the output from the debug console. Everything you see here is displayed within the first few seconds. ("Inbo

[2021-04-26 06:04] devmount commented on #135
@di3goCS Awesome, many thanks!

[2021-04-26 06:06] Valeryan24 commented on #280
Sorry, I didn't take time for the moment to make the feature requests. Thanks a lot for your answer - yes you can close this issue, and I will write the FR !

[2021-04-26 06:07] devmount commented on #280
Alright! Thanks again for your time and ideas 👏🏻

[2021-04-26 06:07] #280 closed

[2021-04-26 06:17] devmount commented on #302
Hi Keith,

thanks for reporting this. Unfortunately, special characters in search folder names make a lot of trouble in Thunderbird and as extension developer, I don't have any possibility to fix this (yet, I reported it some time ago https://bugzilla.mozilla.org/show_bug.cgi?id=1688612).

Can you check, if this issue is caused by the space character in your search folder name? E.g. does it work,

[2021-04-26 08:09] behinger commented on #289
Sorry for not responding. I wanted to do more tests. But after removing all restriction of accounts (via settings) and then putting them back into place, it works now.

Not sure what's going on. Can be closed

Am 25. April 2021 20:32:27 MESZ schrieb Andreas ***@***.***>:
***@***.*** Any news on this? Did you try the account filter? Let me know

[2021-04-26 08:12] devmount commented on #289
I see, glad it works now 👍🏻

[2021-04-26 08:12] #289 closed

[2021-04-26 22:30] DarkArc commented on #242
Hey thanks, seems to be working great now :)

[2021-04-26 23:52] kswartz26 commented on #302
That was it. I only had to remove the spaces in the saved search folders; it didn't pose a problem in the normal folders. Just for good measure, I also found two folders with an & and a ' in them, and removed those.

This might be a good thing to add to the docs, since, as you said, there's a pretty easy workaround. Thanks for the quick response!

[2021-04-26 23:52] #302 closed

[2021-04-27 05:23] devmount commented on #242
Awesome!

[2021-04-27 05:23] #242 closed

[2021-04-27 05:30] devmount commented on #302
Glad it works, and thanks for reporting those additional characters. I will recheck this as soon as the next major release of Thunderbird landed this summer, as there will be a lot of core changes.

Very good idea, a "known issues" section or page somewhere in ThirdStats would be helpful for users. I try to figure out how this can be automated somehow.

You're very welcome.

[2021-04-27 20:21] devmount commented on #213
Correction: it doesn't exist in the message header, which ThirdStats only processes. It does exist in the messages body, but I avoid accessing that for privacy and performance reasons.

See [this discussion thread](https://thunderbird.topicbox.com/groups/addons/T2d54cb8a12446dee/message-and-folders-statistics-in-we).

[2021-04-27 20:49] devmount opened #305 "Empty chart (tooltip only) when only one single data point on abscissa"
**Describe the bug**
If only one entry on x-axis exists (e.g. only one year in the years chart), the chart appears empty. The data point exists, but is only visible on mouseover via tooltip.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stats page
2. Set date range to one year only (e.g. 2020-01-01 to 2020-05-05)
3. See years chart empty

**Expected behavior**
A visible data point ma

[2021-04-30 11:04] devmount commented on #302
FYI the above mentioned bug report got fixed in TB 90 and will be part of TB 91 in summer.

[2021-05-03 08:54] devmount commented on #135
Many thanks to everyone so far! Thanks to you, ThirdStats is now fully translated in 7 languages 🤗

[2021-05-04 13:45] #305 closed

[2021-05-05 09:28] devmount opened #310 "Indicator for data in progress"
**Is your feature request related to a problem? Please describe.**
The line charts show data for specific time ranges, e.g. for the current year. But since the current year is not over yet, the data displayed for it is still in progress and can change. Unlike the last year: it's data is already in a final state.

**Describe the solution you'd like**
A visual indication to separate between final da

[2021-05-06 13:55] fruitconfit opened #311 "Thirdstat is blocked when indexing the mails"
When I launch the thirstat indexing, is starts then is blocked (for hours) at something like 70%. This may be a special case with my mail box...
![image](https://user-images.githubusercontent.com/58135163/117310020-41092800-ae83-11eb-82c8-a6c3f23da6e5.png)

- OS: Windows 10
- Thunderbird Version 78.10.1

With the same thunderbird installation, but on a different profile, the same thirdstat plugin

[2021-05-06 14:36] devmount commented on #311
Hi there,
looks like that profile/account is affected by #19 - please try the steps described in https://github.com/devmount/third-stats/issues/19#issuecomment-732659173 and the follow up posts. If you get the same error messages ("folder not found") you'll have to wait for the next Thunderbird major release, I'm afraid.
Also make sure, that your folder names don't contain any special characters (

[2021-05-06 17:05] fruitconfit commented on #311
Thanks for the quick reply!

At least on folder can not be parsed (using the code snippets provided
in #19). There '#' caracters in this folder, but I have a lot like
this... so never mind, I won't use thirdstat on this account.

Best regards

Le 06/05/2021 à 16:36, Andreas a écrit :

[2021-05-06 18:35] devmount commented on #311
You're welcome. Afaik the problem with special chars in folder names has already been fixed and will be part of the next major release of Thunderbird. Nevertheless thanks for reporting.

[2021-05-06 18:35] #311 closed

[2021-05-25 19:22] devmount opened #313 "Misplaces doughnut chart tooltips"
**Describe the bug**
When hovering the half-doughnut chart, the tooltip seems to appear somewhere, but not on the section the mouse is over.

**To Reproduce**
Steps to reproduce the behavior:
1. Open stats page
2. Hover over different sections of doughnut chart
3. See tooltip position

**Expected behavior**
A tooltip on the section the mouse is over.

**Screenshots**
![image](https://user-images.g

[2021-05-25 19:34] #310 closed

[2021-05-25 19:52] #313 closed

[2021-05-31 03:32] koobs opened #317 "Sent mail statistics are zero (0) in 90.0a1 (Windows 64-bit)"
**Describe the bug**

Statistics for Sent mail are zero (0) for at least the past couple of weeks. I am not sure when the issue was first introduced.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ThirdStats Dashboard
2. Observe no stats for "Mails sent"
3. Try to rebuild cache
3. Observe no stats for "Mails sent" again

**Expected behavior**

Up-to-date and accurate statistics for Se

[2021-05-31 04:23] devmount commented on #317
Thank you for this report. I'm unable to reproduce this on Win10/TB90.0a1 so let's try to narrow it down:

1. Since it stopped working at some point I assume all your identities are correctly configured? Is this a local or an IMAP account?
2. Do you have "Messages to Self" enabled in the add-on options?
3. Do you only use Thunderbird Daily or do you also have a Thunderbird Beta / Stable on your ma

[2021-06-03 01:41] koobs commented on #317
1. Google IMAP Account
2. Test with `Reset Options` which disables Self messages.
3. I only use Daily, but I tested back to 2021-04-03 (89.0). Unfortunately, there's the virtual folder bug before 2021-04-29. Build bisection:

[code]

4. I've also reset almost all custom preferences back to defaults.

[2021-06-03 02:13] koobs commented on #317
Inspecting extension data storage:

![sshot-2021-06-03-12-10-08](https://user-images.githubusercontent.com/1011612/120575730-1f16ad00-c411-11eb-88b7-b45bdf2c7c8e.png)
...snip...

![sshot-2021-06-03-12-10-24](https://user-images.githubusercontent.com/1011612/120575732-1faf4380-c411-11eb-9111-3dbb78a7582b.png)
...snip...

![sshot-2021-06-03-12-10-41](https://user-images.githubusercontent.com/1011612

[2021-06-03 04:23] devmount commented on #317
I see, sorry to hear that you are affected by the virtual folder bug (I thought that was fixed long before TB 90 😮).

Since I haven't been able to find what's causing this issue on my end, I created a debug version of ThirdStats for you. Please install the following ThirdStats add-on (rename the file extension from .zip to .xpi first):
[third-stats_v1.8.0-alpha.sent-received-recognition.zip](https

[2021-06-03 04:47] koobs commented on #317
@devmount Only saw virtual folder issue using older versions while bisecting :)

Thank you for the debug version. Will test and report back.

Relatedly, I think it'd be worthwhile, if its possible, to add a 'Debug' option to ThirdStats to allow for quicker and simpler user debugging in the future for situations like these. Certainly save the time going back and forth :)

Do you want a new issue fo

[2021-06-03 12:22] devmount commented on #317
Bisecting? Sorry if there was a joke, I didn't get it 🙈

Great suggestion. As [I stated here](https://thunderbird.topicbox.com/groups/addons/T9721f6fb5b4fda2e/end-user-tests-bug-hunting-and-logging), the demand for such a feature is too small by now, but I totally see that this would be useful.

Would be awesome if you could create a new issue for that - as I really like reading issues from you an

[2021-06-04 03:59] koobs commented on #317
Hey Andreas. Tried to let the debug/refresh run three times to completion but thunderbird crashes every time after consuming all memory (16gb)

Can we descope the debug to only include sent, or exclude received or something?

Also I think I found an unrelated bug ;)

[2021-06-04 04:15] devmount commented on #317
Whoa, I see - so logging 64k mail objects to the console wasn't the brightest idea here 🙈 I rebuild the debug version without logging the whole object, so this should fit now into your memory (at least I hope so):

[third-stats_v1.8.0-alpha.sent-received-recognition.2.zip](https://github.com/devmount/third-stats/files/6595727/third-stats_v1.8.0-alpha.sent-received-recognition.2.zip)

Looking forwa

[2021-06-07 06:49] koobs commented on #317
Test results:

 * All log entries are prefixed [RECEIVED]. I see no other entries.
 * Only two errors observed, one which I've seen before, and don't know if its related to thirdstats or not, but im guessing not (The 5 minute activity manager thread possible?) (see screenshot). I see this error at intervals unrelated to thirdstats processing too. The other error is that which is included in the sc

[2021-06-10 08:59] devmount commented on #317
Thanks again for your detailed report.

Error 1: As you already guessed, this isn't related to ThirdStats.
Error 2: This is indeed a ThirdStats issue. Actually, everything should be normalized to lower case, but thanks to your report I found some places where this transformation was still missing. I also improved the email address recognition algorithm in strings. Here is a fixed version, can you

[2021-06-14 00:44] koobs commented on #317
You win @devmount. Sent mail stats are back. So root causes was a case-insensitive match and I'm one of those annoying users who breaks thing? :)

[2021-06-14 00:45] koobs commented on #317
Have a couple more comments to add, but need some more time to flesh out

[2021-06-14 03:11] devmount commented on #317
Great! Thanks for confirming the fix, will be part of the next release.

Take your time.

[2021-06-18 13:42] devmount opened #320 "Support TB 91"
**Is your feature request related to a problem? Please describe.**
According to [Mozillas Release Calendar](https://wiki.mozilla.org/Release_Management/Calendar), TB 91 will be released in August 2021. As ThirdStats uses the current WebExtension APIs, it's already compatible with the current TB daily releases. However, there are still some issues to address to make ThirdStats not only run smooth o

[2021-07-05 12:06] devmount opened #321 "Extend Contribution Guidlines"
**Is your feature request related to a problem? Please describe.**
A section about coding style/coding standard is missing in the current contribution guidelines of ThirdStats.

**Describe the solution you'd like**
Add a separate section for the coding style to the [CONTRIBUTING.md](https://github.com/devmount/third-stats/blob/master/.github/CONTRIBUTING.md) that is used in ThirdStats.

**Describe

[2021-07-05 18:56] #317 closed

[2021-07-12 19:55] devmount opened #327 "Horizontal Bar Charts Tooltip misplaced"
**Describe the bug**
When hovering of a horizontal bar chart, the tooltip pops up randomly on different places.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stats page
2. Hover over contacts bar chart
3. See tooltip over different bars

**Expected behavior**
The tooltip should be exactly on the bar, the mouse is over. No matter if the bar chart is horizontal or vertical.

**Screensh

[2021-07-13 04:24] devmount opened #328 "Add stats for email tags"
### Discussed in https://github.com/devmount/third-stats/discussions/323

<div type='discussions-op-text'>

<sup>Originally posted by **CyrusV5** July  5, 2021</sup>
Hello,
First of all, thank you for creating this tool!
Adding label data to the stats would be useful for people that frequently use labels to sort their emails.</div>

[2021-07-13 04:32] #328 closed

[2021-07-13 04:50] #327 closed

[2021-07-13 14:47] devmount opened #331 "fix favicon"

[2021-07-13 14:47] devmount commented on #331
This was created by mistake.

[2021-07-13 14:47] #331 closed

[2021-07-15 13:02] devmount opened #333 "Fix Favicon in Thunderbird 91"
Favicons are currently not working in Thunderbird 91.
See https://thunderbird.topicbox.com/groups/addons/Tb085c0e2739c60fd/custom-favicons-in-tb-91

![image](https://user-images.githubusercontent.com/5441654/125792787-ae5ed4f5-b686-40b1-a631-a09b2de45145.png)

As soon as this is fixed in TB, this can be closed.

[2021-07-15 13:04] devmount commented on #320
Implemented with #332

[2021-07-15 13:04] #320 closed

[2021-07-15 15:04] devmount opened #334 "Information if no data for chart available"
**Is your feature request related to a problem? Please describe.**
If there is no data for a whole account at all, the whole chart section doesn't show up correctly with an icon/notice, that there is no data. But if there is no data for a specific chart, the chart area is currently just empty, without any further notice.

**Describe the solution you'd like**
An icon/notice if no data is available

[2021-07-17 08:55] #334 closed

[2021-07-17 11:14] devmount commented on #19
Hello everyone,

I am happy to announce that Thunderbird 91 is now available as a beta ([direct download](https://download.mozilla.org/?product=thunderbird-91.0b1-SSL)). It will be only a month now, that Thunderbird 91 becomes stable and gets released.

So if anyone still affected by this (@ryanleesipes @tonewarper @6Sim9 ?) already wants to test it, please go ahead. Otherwise I hope you can confi

[2021-07-17 12:49] devmount opened #336 "Merge similar metrics in numbers bar"
**Is your feature request related to a problem? Please describe.**
Currently, the numbers bar at the top of the stats page holds 7 sections, where the 5th and the 6th are showing the same information just with other units.
![image](https://user-images.githubusercontent.com/5441654/126037252-1ed1705f-e044-4cfd-8aa3-5eb7297c8b06.png)

**Describe the solution you'd like**
I propose to merge those two

[2021-07-19 18:20] ryanleesipes commented on #19
It worked! And it works on 78 now, great job @devmount!

[2021-07-19 18:29] devmount commented on #19
Great news! Glad to hear that it now works on 78 too 👏🏻

[2021-07-26 10:46] devmount commented on #333
Favicons do work again in Thunderbird 92.0a1. Nothing needs to be done on ThirdStats side.

[2021-07-26 10:46] #333 closed

[2021-07-26 13:41] #336 closed

[2021-07-29 07:20] devmount commented on #135
Hey everyone,

since I had some issues with Gitlocalize (not keeping json key order, wrong PR content overwriting existing translations etc), I decided to drop it and find an alternative. I will open a new thread as soon as I found something better. Stay tuned!

[2021-07-29 14:12] devmount opened #343 "Help translating ThirdStats"
Hey everyone!

After dropping GitLocalize for several reasons (not keeping json key order, wrong PR content overwriting existing translations, no notifications etc), I'd like to give Localazy a go:
https://localazy.com/p/third-stats

You just have to do the following steps:
<img src="https://user-images.githubusercontent.com/5441654/127506166-92d912e9-2d49-4ded-b231-fd6b90bdf60b.png" width="30%" a

[2021-07-29 14:13] devmount commented on #135
Aaaand here is the new thread: #343

Thanks again for everyone contributing, no matter how much! 🤗

[2021-07-29 14:13] #135 closed

[2021-08-16 09:57] devmount commented on #19
Now that Thunderbird 91 got released, I can finally close this 👏🏻  If some of you still have issues with the generation of the stats data, please open a new issue.

[2021-08-16 09:57] #19 closed

[2021-08-18 12:19] Dtrieb opened #347 "Not compatible with Thunderbird 91.0.1"
- OS: Windows 10
- Thunderbird Version 91.0.1 (64-Bit)

Addon seems not compatible

![thunderbird_2021-08-18_14-15-35](https://user-images.githubusercontent.com/3650284/129896413-56c9804a-50d1-42dc-a947-c7a022b389ec.png)
![thunderbird_2021-08-18_14-15-00](https://user-images.githubusercontent.com/3650284/129896432-8e1d5f23-f8d3-4b5e-9faf-ec80da68bba6.png)

[2021-08-18 12:26] devmount commented on #347
Thank you for reporting this - I'm using ThirdStats in TB 91.0.1 on Win 10 without problems, I'll have a look at this.

[2021-08-18 12:28] Dtrieb commented on #347
But I install it with drag and drop without any problem.

[2021-08-18 12:30] devmount commented on #347
Ok, this seems to be a bug on AMO. I'll report this to the Thunderbird devs and let you know, when there's a solution.

[2021-08-18 13:07] jobisoft commented on #347
@Dtrieb : Can you describe how you got that screenshot? If I search for thunder stats in the add-on manager, the result list looks totally different. (and does not show an error)

[2021-08-18 13:23] Dtrieb commented on #347
![thunderbird_2021-08-18_15-18-52](https://user-images.githubusercontent.com/3650284/129905195-61e89e9c-3663-4dfe-9fa0-624821f8cdb2.png)

I search in Thunderbird on this for: ThirdStats
It opened in Thunderbird in a new Tap: https://addons.thunderbird.net/de/thunderbird/search/?q=ThirdStats

There I get this:

![thunderbird_2021-08-18_15-22-41](https://user-images.githubusercontent.com/3650284/129

[2021-08-18 13:29] jobisoft commented on #347
Is this limited to ThirdStats? What do you get for TbSync or Quicktext?

[2021-08-18 13:33] Dtrieb commented on #347
TbSync = Didn't compatible
Quicktext = Compatible

[2021-08-18 13:41] jobisoft commented on #347
Hm, can you close and restart TB and recheck Quicktext? Still compatible? And after that, could you try with a new profile (all 3 add-ons)?

[2021-08-18 14:01] Dtrieb commented on #347
After close and restart TB Quicktext still compatible!

With a new Profil all 3 Addons work!

[2021-08-18 14:05] jobisoft commented on #347
I have no idea what is up with your original profile. Could you go through the preferences and look for any non-standard value which could be related?

[2021-08-18 14:10] Dtrieb commented on #347
Okay. Thank you for your support.

I install it with drag'N'drop that work for me.
You can close this if you want.

[2021-08-18 14:12] devmount commented on #347
@jobisoft Thank you John for taking the time to look into this!

@Dtrieb Glad it works for you at least this way. I'll close this, but if you have any new information on this you can still comment here for any possible future users with the same problem.

[2021-08-18 14:12] #347 closed

[2021-08-25 11:49] devmount opened #348 "Background processing"
**Is your feature request related to a problem? Please describe.**
Currently it's only possible to refresh the stats data by manually clicking the refresh button next to the accounts select field. That means refreshing stats data always requires the user to take action.

**Describe the solution you'd like**
Processing of the stats data should happen automatically in the background, without the use

[2021-08-26 14:39] devmount opened #349 "Label not parsed in doughnut charts"
**Describe the bug**
The label property in doughnut datasets is currently not parsed and therefore useless:
https://github.com/devmount/third-stats/blob/6c9ef206b100b5781741731676f74f1575235689/src/Stats.vue#L2365
https://github.com/devmount/third-stats/blob/6c9ef206b100b5781741731676f74f1575235689/src/Stats.vue#L2370

The current tooltip on doughnut segments looks like: *Folder: 3,214*

**Expecte

[2021-08-27 04:12] devmount opened #350 "Wrong property type"
**Describe the bug**
The `info` property of doughnut charts is actually an *object*, not a *string*:
https://github.com/devmount/third-stats/blob/6c9ef206b100b5781741731676f74f1575235689/src/charts/DoughnutChart.vue#L22

**Expected behavior**
Correct type.

[2021-09-12 08:56] devmount commented on #213
The `size` attribute is now implemented since TB 90
https://webextension-api.thunderbird.net/en/latest/messages.html#messages-messageheader

[2021-09-13 08:33] #349 closed

[2021-09-13 08:33] #350 closed

[2021-09-18 07:25] ovari commented on #343
Seems to have missed this discussion. Any reason why you are not using [Weblate](https://hosted.weblate.org/)? Thank you

[2021-09-18 09:04] ovari opened #353 "Hungarian translation at 100%"
The Hungarian translation is at 100% at [Localazy](https://localazy.com/p/third-stats).

Can you please merge and release a new version on [ATN](https://addons.thunderbird.net/addon/thirdstats/)?

Thank you

[2021-09-19 15:00] devmount commented on #343
@ovari I'm so sorry, I totally missed your username in the list of translators 🙈. My bad. Thank you for the recommendation, I'll take a look at Weblate.

[2021-09-19 15:01] devmount commented on #353
Thanks a lot, @ovari!

[2021-09-20 13:40] #353 closed

[2021-09-21 08:05] devmount commented on #343
@ovari @martinsustek You're now trusted translators on Localazy. Thanks again for your contributions 👏🏻

[2021-09-22 07:23] devmount commented on #343
@altmas5 is now a trusted translator too 👏🏻